.bg {
    //background-image: url(../../../../assets/img/Exhibition/arise.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;
  
    // position: relative;
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  #bg{
    position: relative;
    width: 100%;
    height: 100%;
    img{
      width: 100vw;
      height: 105vh;
    }
  }
  @media (max-width: 767px){
  .bg{
    background-position: top center;
      background-size: contain;
  }
  }
  .play{
    position: absolute;
        top: 30%;
        left: 1%;
        cursor: pointer;
  }
  .file{
    position: absolute;
        top: 50%;
        left: 1%;
        cursor: pointer;
  }
  .call{
    position: absolute;
        top: 65%;
        left: 1%;
        cursor: pointer;
  }
  .chat{
    position: absolute;
        top: 75%;
        left: 1%;
        cursor: pointer;
  }
  .docs {
    .pulsating-circle{
        position: absolute;
        top: 45%;
        right: 41%;
        cursor: pointer;
    }
  }
  .chats {
    .pulsating-circle{
        position: absolute;
        top: 49%;
        right: 58%;
        cursor: pointer;
    }
  }
  .call {
    .pulsating-circle{
        position: absolute;
        top: 57%;
        right: 58.5%;
        cursor: pointer;
    }
  }
  .info {
    .pulsating-circle{
        position: absolute;
        top: 70%;
        right: 65%;
        cursor: pointer;
    }
  }
  
  .icon_box{
    position: absolute;
      top: 40%;
      left: 0%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      cursor: pointer;
  }
  .icon_box1{
    position: absolute;
      top: 70%;
      left: 0%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      cursor: pointer;
  }
  .icon_box2{
    position: absolute;
      top: 50%;
      left: 0%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      cursor: pointer;
  }
  .icon_box3{
    position: absolute;
      top: 60%;
      left: 0%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      cursor: pointer;
  }
  .icon-link{
    color: #000;
      background: #fff;
      border-radius: 4px;
      padding: 5px 12px 5px 20px;
      margin-bottom: 30px;
      margin-left: 30px;
      position: relative;
      box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.4);
      display: flex;
      transition: transform 300ms linear;
  }
  .icon-link:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  
  #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
         // width: 46px;
          img{
            padding-right: 10px;
            // width: 28px;
            height: 22px;
          //  border-radius: 50px;
          }
        }
        span{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  .profile-card {
    border-radius: 4px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
    display: block;
    padding: 20px 0px 0px;
    margin-bottom: 20px;
  }
  .profile-card figure {
    margin: 0px auto;
    background: #292F35;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
  }
  .profile-card figure i {
    font-size: 32px;
    color: #fff;
    vertical-align: middle;
  }
  
  .profile-card table i {
    font-size: 22px;
      margin-right: 17px;
  }
  
  .profile-card h3 {
    font-size: 18px;
    text-align: center;
    color: #000;
    margin: 20px auto;
    text-transform: uppercase;
    font-family: var(--head-font);
    font-weight: 700;
  }
  
  .download_card{
    background: #000;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color:white !important;
  cursor: pointer;
  }
  .video_meeting {
    position: absolute;
    top: 56%;
    left: 51%;
    cursor: pointer;
    height: 10vh;
    width: 7vw;
    // background: black;
    .pulsating-circle{
    position: absolute;
    top: 23%;
    left: 20%;
  }
  }
  .live_chat {
    position: absolute;
    top: 57%;
    left: 45%;
    cursor: pointer;
    // background: black;
    height: 9vh;
    width: 6vw;       
  .pulsating-circle{
    position: absolute;
    top: 23%;
    left: 25%;
    cursor: pointer;
  }
  }
  .title {
    position: absolute;
    top: 6%;
    left: 68%;
    font-weight: bold;
   // cursor: pointer;
    // background: black;
    height: 6vh;
    width: 25vw;       
  
  }
  .logo1{
    position: absolute;
    top: 5%;
    left: 53%;
    //font-weight: bold;
   // cursor: pointer;
    // background: black;
    height: 6vh;
    width: 25vw;  
  }
  .connectUs {
    position: absolute;
    top: 53%;
    left: 57%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  }
  } 
  .creatve1 {
    position: absolute;
    top: 34%;
    left: 46.6%;
    cursor: pointer;
    // background: black;
    height: 10vh;
    width: 20vw;       
  
  }
  .creatve2 {
    position: absolute;
    top: 34%;
    left: 60.2%;
    cursor: pointer;
    // background: black;
    height: 10vh;
    width: 20vw;       
  
  }
  .creatve3 {
    position: absolute;
    top: 50%;
    left: 46.7%;
    cursor: pointer;
    // background: black;
    height: 10vh;
    width: 20vw;       
  
  }
  .logo2 {
    position: absolute;
    top: 75%;
      left: 16%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 5vw; 
  }
  .product_list {
    position: absolute;
    top: 70%;
    left: 52%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  }
  }
  .broucher {
    position: absolute;
    top: 69%;
    right: 59%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 81%;
    left: 50%;
    cursor: pointer;
  }
  }
  .card_drop {
    position: absolute;
    top: 73%;
      left: 20%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 81%;
    left: 50%;
    cursor: pointer;
  }
  }
  .left_graphic {
    position: absolute;
    top: 35%;
    left: 49%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }
  }
  .third_graphic {
    position: absolute;
    top: 52%;
    left: 49%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }
  }
  .left_url {
    position: absolute;
    top: 30%;
    left: 31.5%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }
  }
  .right_graphic {
    position: absolute;
    top: 35%;
    right: 33%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }
  }
  .right_url {
    position: absolute;
    top: 12%;
    right: 48%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }
  }
  .calendar-part {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .time-part {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .time-part .time-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
  }
  .time-part .time-list li {
    margin: 5px 10px;
    text-align: center;
    min-width: 150px;
    line-height: 35px;
  }
  .time-part .time-list li a {
    color: #333;
    padding: 0px 30px;
    font-size: 14px;
    display: block;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    transition: all .3s linear;
  }
  .time-part .time-list li  a:hover {
    text-decoration: none;
    outline: none;
    background: #000000c9;
    color:white;
  }
  .btn-disabled,
  .btn-disabled[disabled] {
    opacity: .4;
    cursor: default !important;
    pointer-events: none;
  }
  .confirm-btn {
    display: table;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 30px auto 15px;
    color: #fff;
    outline: none;
    border: 0;
    transition: all 300ms linear;
  }
  .active {
    background: rgba(0, 0, 0, 0.7) !important;
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
  color: #fff !important;
  }
  #players{
    position: absolute;
    top: 39%;
    left: 29%;
    height: 13vh;
    width: 43vw;
    .one, .two,.three,.four{
        // background: black;  
        position: absolute;
        top: 0;
        height: 13vh;
        width: 13.2vw; 
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            color:#ff0000;
            transform: translate(-50%, -50%);
            font-size: 24px;
            cursor: pointer;
        }
    }
    .one{
        left: -6%;
      top: 40%;
  
    }
    .two{
      left: 33%;
    top: -20%;
  
  }
  .three{
    left: 33%;
  top:81%;
  
  }
  .four{
    left: 59%;
  top: -20%;
  
  }
   
  }
  #socialicons{
    position: absolute;
      top: 35%;
      right: 0%;
      height: 5vh;
      width: 5vw;
      img{
        width: 50px;
      }
  }
  @media only screen and (max-width: 800px) {
    #socialicons {
      position: absolute;
      top: 28%;
      right: 0%;
      height: 5vh;
      width: 7vw;
    }
    img{
      width: 40px;
    }
  }
  
  
  
  #modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }
  
  #image_profile {
    img {
        float: left;
        border-radius: 50%;
    }
    #profile_detail {
        padding: 5px;
        margin-left: 55px;
  
        #profile_name {
            font-weight: 600;
        }
    }
  }
  .profileImage {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: cadetblue;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: right;
    font-weight: bold;
    padding: 10px;
  }
  .profileImage1 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #28a745;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: left;
    font-weight: bold;
    padding: 10px;
  }
  .bord:nth-child(even) {
    border-left: 5px solid cadetblue;
  }
  
  .bord:nth-child(odd) {
    border-left: 5px solid black;
  }
  #profile_details {
    padding: 0px;
    margin-left: 115px;
  
    #profile_name {
        font-weight: 600;
    }
  }
  #profile_detail1 {
    padding: 5px;
    margin-left: 55px;
  
    #profile_name {
        font-weight: 600;
    }
  }
  #search_tab .form-control {
      padding-left: 25px;
  }
  #search_tab {
      position: relative;
  }
  #search_tab .fa-paper-plane {
      position: absolute;
      color: white;
      vertical-align: center;
      top: 1px;
      right: 1px;
      font-size: 20px;
      background-color: #da251c;
      width: 37px;
      height: 33px;
  
  }
  .fa-arrow-left{
    left: 27%;
      position: absolute;
      top: 3%;
      color: whitesmoke;
      font-size: 3em;
      cursor: pointer;
  outline: -webkit-focus-ring-color auto 0px !important;

  }