<div class="bgct">
    <div class="standing">
        <div id="bg">
            <img src="{{banner}}" alt="">
            <i class="fa fa-arrow-right" [routerLink]="['/exhibitionHall/denmark']" aria-hidden="true"></i>
            <i class="fa fa-arrow-left" [routerLink]="['/exhibitionHall/germany']" aria-hidden="true"></i>

            <div class="live_chat" title="Chat with Exhibitor" data-toggle="modal" data-target=".liveQuestionModal">
              <div class="pulsating-circle"></div>
            </div>
            <div class="connectUs" data-toggle="modal" title="Connect with us" data-target=".salesModal">
              <div class="pulsating-circle"></div>
            </div>
            <div class="onepdf" title="Documents" data-toggle="modal" data-target=".docsModal">
              <div class="pulsating-circle"></div>
            </div>
            <div class="broucher" title="Broucher" title="Click to play video" (click)="playShowVideo('https://virtualapi.multitvsolution.com/countryStall/france/AFD_EESL_Lighting_up_streets_and_lives.mp4')">
              <!-- <div class="pulsating-circle"></div> -->
            </div>

          </div>
    </div>
  </div>


   <!-- live chat modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="position: absolute; bottom: 0px; right: 85px;">
    <div class="modal-content">
      <!-- <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>Live Chat</h6>
                <a class="close" (click)="closeChat()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message" id="chat_messaged">
                        <li class="chat_messageList" *ngFor="let qa of qaList">
                          <div class="img_avatar"> <img src="../assets/img/default_avatar.png" alt=""></div>

                          <span class="person">
                            <a href="javascript:void(0);" style="font-size: 14px; font-weight: bold; color: #000;"
                              class="checkProfile">{{qa.question}}</a>
                          </span>
                          
                          <div class="text_message">
                            <table>
                              <td> <img src="../assets/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px"
                                  width="20px"> &nbsp; &nbsp;</td>
                              <td>
                                <p [innerHTML]="qa.answer"></p>
                              </td>
                            </table>


                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="message_input">
                      <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage"
                        (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                    </div>
                    <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                      (click)="postQuestion(textMessage.value)">Submit</button>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="card" id="chatSection" *ngIf="isShow">
        <div class="p-3" style="font-weight: 500; background-color: #da251c; color: white;">Chat with France Stall
            <i class="fa fa-times float-right" style="cursor: pointer;" title="Minimize Chat" *ngIf="showchat" (click)="hidediv()"></i>
            <i class="fa fa-arrow-up float-right" *ngIf="hidechat" title="Maximize Chat" (click)="show()"></i>
          </div>
        <div class="row" *ngIf="showDiv">
            <div class="col-md-12 col-xl-12 col-sm-12">
                <div style="max-height: 200px;  min-height: 200px; overflow:auto">
                    <div class="card p-2" *ngFor="let qa of qaList" style="border-left: 5px solid cadetblue; margin-bottom: 5px">
                        <div id="image_profile" style="padding: 1px 12px;
                  ">
                      <span class="profileImage1 card-body" *ngIf="myid != qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name | slice:0:1}}</span>
                      
                      <div *ngIf="myid != qa.sender_id" id="profile_details1">
                         <div>{{qa.msg}}</div>
                         </div>
                         <span class="profileImage card-body"  *ngIf="myid == qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name | slice:0:1}}</span>
                         <div *ngIf="myid == qa.sender_id" id="profile_detail">
                          <div>{{qa.msg}}</div>
                          </div>
                    </div>
                    </div>
                </div>
                <div class="pt-3 pb-3 pl-1 pr-1">
                    <input class="form-control" [(ngModel)]="msgs" maxlength="60" placeholder="Write something here.." [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" /> <br>
                  <button class="btn btn-danger" (click)="postQuestion(textMessage.value)">Send</button>
                </div>
            </div>
        </div>
      </div>
      

    </div>
  </div>
</div>

<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal-video">
          <div id="closePopup" (click)="closeModalVideo()">&times;</div>
          <video id="video" preload="auto" [src]="videoSource" width="100%" controls>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sales-Info -->
<div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Connect with us</h6>
                <a class="close" (click)="closesales()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">

                  <div class="col-md-6" *ngFor="let sales of salesPerson; let i = index">
                    <div class="profile-card">
                      <div #screen id="hello{{i}}">
                        <figure>
                          <i class="fa fa-user"></i>
                        </figure>
                        <h3>{{sales.name}}</h3>
                        <table class="table">
                          <tbody>
                            <tr>
                              <td><i class="fa fa-id-badge"></i>{{sales.position}}</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-envelope"></i>{{sales.email}}</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-mobile"></i>{{sales.contact}}</td>
                            </tr>
                            <!-- <tr>
                                <td><i class="fa fa-trash"></i><a id="{{sales.id}}">{{sales.id}}</a></td>
                            </tr> -->
                          </tbody>
                        </table>
                      </div>
                      <a nhref="" class="download_card" (click)="download(i,sales.name)">
                        Download
                      </a>

                    </div>
                    <div id="download">
                      <img #canvas style="display: none;">
                      <a #downloadLink></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Documents</h6>
                <a class="close" (click)="closeCall('.docsModal')"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message">
                        <li class="chat_messageList" *ngFor="let docs of documents">
                          <div class="img_avatar"> <img src="assets/img/pdf.png" alt=""></div>

                          <span class="person">
                            <a href="{{docs.pdf}}" style="text-decoration: none; color: black;" target="_blank"
                              download class="checkProfile"> {{docs.title}}</a>
                          </span>
                         
                        </li>


                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
