<div class="container-fluid" id="popup">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="chat_section">
                <div class="popup_header">
                    <h6>Exhibitor Directory</h6>
                    <a class="close" (click)="closePopup()"></a>
                </div>
                <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
        height="550" frameborder='0'></iframe> -->
                <table>
                    <tr>
                        <th>Exhibition Halls</th>
                        <th>Stalls</th>
                    </tr>
                    <tr>
                        <td (click)="lifeboy2('life')"><b>Exhibition 1</b></td>
                        <td (click)="lifeboy('25')">Bohra Rubber Private Limited</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('26')">Grind Master Machines Pvt Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('27')">Helvoet Rubber & Plastic Technologies(I) Pvt Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('28')">Indo Schottle Auto Parts Pvt. Ltd.</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('29')">Investment & Precision Castings Ltd.</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('30')">PRS Permacel Pvt. Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('31')">Right Tight Fastners Pvt. Ltd.</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('32')">Sellowrap Industries Pvt Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('33')">Vishwakarma Automotive Pvt. Ltd</td>
                    </tr>
                    <tr>
                        <td (click)="lifeboy2('exhibition2')"><b>Exhibition 2</b></td>
                        <td (click)="lifeboy('34')">Agrim Components Pvt. Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('35')">ARaymond Fasteners India Private Limited</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('36')">Autosys Industrial Solutions Pvt. Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('37')">Industrial Engineering Syndicate</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('38')">Metaforge Engineering (I) Pvt Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('39')">Pee Aar Exim Pvt. Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('40')">Porwal Auto Components Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('41')">Tata AutoComp Systems Limited</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('42')">Yagna Entrepreneur Success Services LLP</td>
                    </tr>
                    <tr>
                        <td (click)="lifeboy2('exhibition3')"><b>Exhibition 3</b></td>
                        <td (click)="lifeboy('43')">Auto Cluster Development And Research Institute</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('44')">MSL Driveline Systems Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('45')">Seinsa Autofren India Pvt Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('46')">Stork Rubber Products Pvt. Ltd</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td (click)="lifeboy('47')">Deusch Kyosei Engineering Pvt. Ltd</td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>