
#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    cursor: pointer;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
    font-size: small;
    background-color: white;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td{
    color: blue;
  }