.bg {
    background-image: url(../../../../../assets/img/Stage/audi1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;
  
    // position: relative;
  }
  section{
    position: relative;
    height: 100%;
    width: 100%;
    #clap{
      position: absolute;
      top: 19%; 
      right: 1%;
      z-index: 1000;
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: calc(100% - 140px);
            height: 100vh;
            margin-left: 70px;
          }
          
        #player_sec{
          position: absolute;  
          
        }
        }
      }
    }
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  
  @media (max-width: 767px){
  .bg{
    background-position: top center;
      background-size: contain;
  }
  }
  
  .rightMenu{
  position: absolute;
  right: 6%;
  top: 7%;
  text-align: center;
  padding: 20px 10px;
  color: #fff;
  background: rgba(0,0,0,.3);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  }
  a{
  
  cursor: pointer;
  }
  .handimg{
  width:48px;
  height:48px;
  display: block;
  background-image: url(../../../../../assets/img/hand.png);
  background-repeat:no-repeat;
  }
  
  @media (max-width: 767px){
    section{
      #clap{
          top: 18%;
          img{
              width: 46px;
          }
      }
    }
    .rightMenu{
      position: absolute;
      right: 0;
      top: 36%;
      text-align: center;
      padding: 5px;
      color: #fff;
      background: rgba(0,0,0,.3);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      ul{
          margin: 0;
          li{
              margin: 2px;
              a{
                  img{
                      width: 20px;
                  }
                  div{
                      font-size: 10px;
                  }
              }
          }
      }    
  }
  }
@media only screen and(max-width:768px){
  #bg{
    img{
        width: calc(100% - 100px) !important;
        margin-left: 50px !important;
    }
    // #player_sec{
    //   left: 29.5% !important;
    //   vg-player{
    //     width: 40.1vw !important;
    //     height: 47vh !important;
    //   }
    // }
  }
}


#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow-y: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .user-profile-row:nth-child(even){
        background: #e8e8e8;
      }
      .user-profile-row {
        width: 100%;
        display: flex;
        align-items: center;
       // background-color: #fff;
        margin: 0;
        padding: 8px;
        .user-profile-data {
            width: 85%;
            display: inline-block;
            .user-profile-image {
                width: 48px;
                float: left;
            }
            .user-profile-info {
                max-width: 70%;
                float: left;
            }
            .user-profile-name {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
                line-height: 15px;
                color: #000;
                text-transform: capitalize;
                a{
                    text-decoration: none;
                    outline: none;
                    color: var(--primary-color);
  
                }
            }
            .user-profile-company {
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                color: #000;
                margin-bottom: 0px;
            }
  
        }
    }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      // line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  
  #exhibtion_1{
    position: absolute;
    top: 62.5%;
    height: 34vh;
    left: 15%;
    width: 10.8vw;
}
#exhibtion_2{
  position: absolute;
  top: 62.5%;
  height: 34vh;
  left: 34%;
  width: 10.8vw;
}
#exhibtion_3{
  position: absolute;
  top: 62.5%;
  height: 34vh;
  left: 55%;
  width: 10.8vw;
}
#exhibtion_4{
  position: absolute;
  top: 62.5%;
  height: 34vh;
  left: 74%;
  width: 10.8vw;
}
.one{
    cursor: pointer;
    height: 10vh;
    outline: -webkit-focus-ring-color auto 0px !important;
}
.two{
  cursor: pointer;
  height: 10vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}.three{
  cursor: pointer;
  height: 10vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}.four{
  cursor: pointer;
  height: 10vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}

// audi 

#plenarypopup{
  background: #000000c9;
  padding: 5px 5px 0px 5px  ;
  .chat_section{
    background: #ffffff;
    .popup_header{ 
      height: 55px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;
      background:#d7a322; color:#fff;
      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #000;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}
@mixin white-gradient {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 180s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 30))}
}
#plenarypopupmsg{
  width: 100%;
  padding: 15px 5px;
  p{
    padding: 10px 0;
    color: #000000c9;
  }
  #okbtn{
    background: #d7a322;
    color: white;
  }
  .btn-danger{
    float: right;
  }
}
.colors{
background-color: blue;
}
.slider {
  // height: 8vh;
  width: 100%;
  position: absolute;
  bottom: 0%;
  z-index: 9;
background: white;
box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
height: 70px;
margin: auto;
overflow:hidden;
// position: relative;
// width: 960px;

&::before,
&::after {
  @include white-gradient;
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

&::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

&::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll $animationSpeed linear infinite;
  display: flex;
  width: calc(250px * 20);
  text-align: center;
}

.slide {
  height: 100px;
      width: 100%;
      img{
          height: 80px;
          // width: 200px;
      }
}
}