.bg {
    background-image: url(../../../assets/img/NetworkingLounge/fame.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;

    // position: relative;
}
section{
    position: relative;
    .content-wrap {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      position: relative;
      .lobby-bg{
        position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
              width: 100vw;
            //   height: 100vw;
          }
      }
    } 
  }
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}
#fb{
    position: absolute;
    top: 23%;
    left: 22.4%;
}
#twitter{
    position: absolute;
    top: 23%;
    left: 51%;
    iframe.twitter-timeline {
        height: 50px !important;
        min-height: 60px !important;
      }
}
#instagram{
    position: absolute;
    top: 30%;
    right: 10%;
    .insta-embed {
        width: 400px;
      }
      
}
section{
    position: relative;
    height: 100%;
    width: 100%;
    #content{
        position: relative;
        #content_network{
            position: relative;
            height: 100%;
            width: 100%;
            #bg{
                position: relative;
                height: 100%;
                width: 100%;
                display: block;
                img{
                    width: 90vw;
                    margin-left: 70px;
                    height: 100vh;
                }
            }
        }
    }
}
#setplay{
    position: absolute;  
    top: 25%;  
    left: 19.3%;
    vg-player{
        width: 19.5%;
        height:16.5vh
    }
}
.letsChat {
    position: absolute;
    top: 20%;
    right: 12%;
    cursor: pointer;
    height: 3vw;
    width: 13vw;  

  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 40%;
      cursor: pointer;
  }
}
.smile {
    position: absolute;
    top: 13%;
    right: 12%;
    cursor: pointer;
    height: 3vw;
    width: 13vw;  
  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 40%;
      cursor: pointer;
  }
}
.video {
    position: absolute;
    top: 6%;
    right: 12%;
    cursor: pointer;
    height: 3vw;
    width: 13vw;  
    .pulsating-circle{
      position: absolute;
      top: 30%;
      right:40%;
      cursor: pointer;
  }
}
.wtsapp {
  .pulsating-circle{
      position: absolute;
      top: 12%;
      right: 15%;
      cursor: pointer;
  }
}
.auditorium-left {
    position: absolute;
    top: 27%;
    right: 34%;
    cursor: pointer;
    height: 12vw;
    width: 12vw;

  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 40%;
      cursor: pointer;
  }
}
.photobooth {
    position: absolute;
    top: 34%;
    left: 35%;
    cursor: pointer;
    height: 12vw;
    width: 15vw;
  .pulsating-circle{
      position: absolute;
      top: 56%;
      left: 38%;
      cursor: pointer;
  }
}

#fbpopup{
    position: absolute;
    top: 30%;
    cursor: pointer;
    right: 13.2%;
    .fa-facebook-square{
        font-size: 50px;
        // color: #1297f6; 
        color: white;
        cursor: pointer;  
    }
    .baba{
      font-size: 50px;
      // color: #1297f6; 
      color: white;
      cursor: pointer;
      height: 10vh;
      width: 3vw;
    }
}
#twitterpopup{
    position: absolute;
    top: 42%;
    cursor: pointer;
    right: 12.5%;
    .fa-twitter-square{
        font-size: 50px;
        // color: #1da1f2; 
        color: white;
        cursor: pointer;  
    }
    .tweets{
      font-size: 50px;
      // color: #1297f6; 
      color: white;
      cursor: pointer;
      height: 10vh;
      width: 3vw;
    }
}
// .twitter-timeline {
//     width: 100vw !important;
// }
#widgetpopup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #ffffff;
      .popup_header{ 
        height: 55px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
        background:#d7a322; color:#fff;
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #000;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }