<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6 style="text-transform: uppercase;">Resources</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="  background: #f2f4f7;">
          <div class="row pt-2">
            <div class="col-md-12 col-xl-12 pl-0">
              <div class="chat_box">
                <ul class="chat_message">
                  <li class="chat_messageList">
                    <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>
                    <p>
                      <!-- <span class="person">
                        <a href="{{docsData[0].document}}" download class="checkProfile"> {{docsData[0].document}}</a>
                      </span> -->
                      <span class="person">
                        <a href="test" download class="checkProfile"> test</a>
                      </span>

                    </p>

                  </li>
                  
                  <hr>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
