section{
    position: relative; 
    height: 100%;
    width: 100%;
    #clap{
      position: absolute;
      top: 19%; 
      right: 1%;
      z-index: 1000;
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 90vw;
            height: 100vh;
            margin-left: 70px;
          }
        }
        #player_sec{
          position: absolute;  
          top: 30%;  
          left: 29%; 
          vg-player{
            width: 42vw;
            height: 46.5vh;
          }
        }
      }
    }
  }

  @mixin white-gradient {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
  
  $animationSpeed: 40s;
  
  // Animation
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
  }
  
  
  // Styling
  .logo{
      width: 15%;
      position: absolute;
      bottom: 0%;
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 70px;
      margin: auto;
      z-index: 99999;
      overflow:hidden;
      img{
          z-index: 9999999;
      height: 92px;
      margin-left: 70px;
      padding-bottom: 30px;
      }
  }
  @media only screen and (max-width: 800px) {
      .logo{
          width: 25% !important;
      }
    }
  .slider {
      // height: 8vh;
      width: 100%;
      position: absolute;
      bottom: 0%;
      z-index: 9;
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 70px;
    margin: auto;
    overflow:hidden;
    // position: relative;
    // width: 960px;
    
    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }
    
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
  
    &::before {
      left: 0;
      top: 0;
    }
    
    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 1);
    }
    
    .slide {
      height: 100px;
      width: 280px;
    }
  }
  .rightMenu{
    position: absolute;
    right: 6%;
    top: 13%;
    text-align: center;
    padding: 20px 10px;
    color: #fff;
    background: rgba(0,0,0,.3);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    }

#popup{
  background: #000000c9;
  padding: 5px;
  .chat_section{
    background: #292F35;
    .popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}

.chat_box{
  .chat_message{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    height: 0px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    .chat_messageList{
      padding: 10px;
      .img_avatar{
        float: left;
        width: 46px;
        img{
          width: 28px;
        }
      }
      p{
        .person{
          display: block;
          color: #292f35;
          font-weight: bold;
          font-size: 14px;
          float: left;
          cursor: pointer;
          margin-right: 15px;
          text-transform: capitalize;
          line-height: 18px;
          .checkProfile{
            text-decoration: none;
            outline: none;
            color: #292f35;
          }
        }
        .time {
          float: right;
          color: dimgrey;
          line-height: 18px;
        }
      }
      .text_message{
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-left: 48px;
        clear: both;
        margin-bottom: 5px;
      }
    }
    .chat_messageList:nth-child(even){
      background: #e8e8e8;
    }
  }
}
.message_input {
  padding: 10px;
  textarea {
    border: none;
    height: 102px;
    box-sizing: border-box;
    outline-width: 0;
    padding: 10px;
    font-size: 18px;
    width: 100% !important;
    border-radius: inherit;
    border-radius: 2px;
    background: #e8e8e8;
    border: 0px;
    padding: 10px 5px 6px 15px;
    // line-height: 11px;
    /* margin-left: 15px; */
    resize: none;
    border: 1px solid #e8e8e8;
    outline: none;
  }
  #chatBtn{
    width: 20%;
    font-size: 12px;
    background: #ebebeb;
    padding: 2px;
    box-shadow: none;
    height: 40px;
    border-radius: inherit;
    background: #292f35;
    border: navajowhite;
    margin-top: 0;
    svg{
      color: #fff;

    }
  }
}

.online_chat{
  min-height: 400px;
  overflow: auto;

}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292f35;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292f43;
}
