<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="content loby-content">

            <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">
                <!-- <div class="bg"></div> -->
                <div class="loby-bg">
                    <img src="assets/tie/images/lobby.jpg" alt="audi">
                </div>
                <div class="reception" title="Helpdesk" (click)="playReception();stepUpAnalytics('click_helpdesk')">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div>
                <!-- <marquee class="mar" width="40%" direction="left" height="30%">
                    <h5>INAUGURAL BY SHRI NARENDRA MODI HON'BLE PRIME MINISTER OF INDIA</h5>
                </marquee> -->
                <div class="broucher" data-toggle="modal" data-target=".brouchersModal" (click)="stepUpAnalytics('click_brochureswfh')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="acma1" title="Phonex" (click)="playPhonex();stepUpAnalytics('click_phoenix')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="acma2" title="Exhibition Hall" (click)="playExhibitionHall();stepUpAnalytics('click_exhibition')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="infinity" title="Infinity" (click)="playInfinty();stepUpAnalytics('click_infinity')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="quantum" title="Quantum" (click)="playQunatum();stepUpAnalytics('click_quantum')">
                    <div class="pulsating-circle"></div>
                </div>
                <!-- <div class="quantum" title="Quantum">
                    <div class="pulsating-circle"></div>
                </div> -->
                <!-- <div style="position:absolute;bottom:52px; right:78px; z-index: 1000;">
                    <a width="120px" height="100px" class="twitter-timeline" href="https://twitter.com/REInvestIndia?ref_src=twsrc%5Etfw">Tweets
                        by REInvestIndia</a>
                </div> -->
                <div style="position:absolute;bottom:54px; left:73px; z-index: 1000;">
                    <!-- <div class="fb-page" data-href="https://www.facebook.com/REInvestIndia/" data-width="200"data-height="200" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"></div> -->
                    <!-- <div _ngcontent-ipl-c31="" class="fb-page fb_iframe_widget fb_iframe_widget_fluid"
                        data-adapt-container-width="true" data-height="200" data-hide-cover="true" data-href="https://www.facebook.com/REInvestIndia/"
                        data-show-facepile="false" data-small-header="true" data-tabs="timeline" data-width="200"
                        fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=0&amp;height=200&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FREInvestIndia%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=200"><span
                            style="vertical-align: bottom; width: 200px; height: 200px;"><iframe name="f153100d22eb80c"
                                width="200px" height="200px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin"
                                frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                                src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2ddcb574622dac%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A4200%252Ffbe957dc799394%26relation%3Dparent.parent&amp;container_width=0&amp;height=200&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FREInvestIndia%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=200"
                                style="border: none; visibility: visible; width: 200px; height: 200px;" class=""></iframe></span></div> -->
                    <!-- <div id="fb-parent">
                        <div id="fb-page" class="fb-page" data-href="https://www.facebook.com/REInvestIndia/" data-tabs="timeline" data-width="500" data-height="250" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"></div>

                    </div> -->
                </div>

                <!-- <div class="vis_manual" data-toggle="modal" data-target=".visitor_manual"> -->
                <!-- <div class="pulsating-circle" id="reception_pulse"></div> -->
                <!-- </div> -->
                <!-- <div class="exhibitor_directory" data-toggle="modal" data-target=".exDirectory"> -->
                <!-- <div class="pulsating-circle" id="reception_pulse"></div> -->
                <!-- </div> -->
                <!-- <div class="front_audi" (click)="gotoAuditoriumFront()">
                    <div class="pulsating-circle" id="frontaudi_pulse"></div>
                </div> -->
                <!-- <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                    <div class="alert alert-success " role="alert">
                        The session is currently live, please proceed towards the session <a routerLink='/{{redirect}}'>here</a>.
                    </div>
                </div> -->
                <div class="playScreen">
                    <div> 
                        <!-- <video id="video" preload="auto" autoplay src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/video/brand.mp4"
                           (ended)="endPlayscreen()" controls>
                        </video> -->
                        <video id="video" preload="auto" autoplay src="assets/tie/videos/Lobby_Video.mp4"
                           loop controls>
                        </video>
                    </div>
                    <!-- <div *ngIf="showPoster">
                        <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/serdia_myanmar/images/playScreen.jpg" (click)="playScreenOnImg()" alt="">
                    </div> -->
                    <!-- <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/serdia_myanmar/images/playScreen.jpg" (click)="openModalVideo()" alt=""> -->
                </div>
                <!-- <div class="playmodalvideo">
                    <div id="light">
                        <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
                        <video id="VisaChipCardVideo" src="../../../assets/video/brand.mp4" width="600" controls>
                            
                        </video>
                      </div>
                      <div id="fade" (click)="lightbox_close();"></div>
                      <div class="video" title="Play Video" (click)="lightbox_open();">
                      
                      </div>
                </div> -->
                <div class="auditorium-left">
                    <!-- <div class="pulsating-circle" id="audLeft_pulse"></div> -->
                </div>
                <!-- <div class="auditorium-right" (click)="playAuditoriumRight()">
                    <div class="pulsating-circle" id="audRight_pulse"></div>
                </div> -->
                <!-- <div class="exhibition-hall-up">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('one');stepUpAnalytics('exhibition_hall-1')"></div>
                </div> -->
                <!-- <div class="exhibition-hall2-up">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('two');stepUpAnalytics('exhibition_hall-2')"></div>
                </div> -->
                <!-- <div class="exhibition-hall3-up">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('three');stepUpAnalytics('exhibition_hall-3')"></div>
                </div> -->
                <!-- <div class="exhibition_two">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('two');stepUpAnalytics('exhibition_hall-2')"></div>
                </div> -->
                <!-- <div class="exhibition_three">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('three');stepUpAnalytics('exhibition_hall-3')"></div>
                </div> -->
                <!-- <div class="exhibition-hall" (click)="playRegistrationDesk();stepUpAnalytics('exhibition_hall-1')"> -->
                    <!-- <div class="exhibition-hall" data-toggle="modal" data-target=".disableModal" > -->
                    <!-- <div class="pulsating-circle" id="exhibition_pulse" ></div> -->

                <!-- </div> -->
                <div class="exhibition_two" [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_networkinglounge')">
                    <!-- <div class="exhibition_two" data-toggle="modal" data-target=".disableB2B" > -->
                    <!-- <div class="pulsating-circle" id="exhibition_pulse" ></div> -->
                </div>
                <div class="exhibition_three" [routerLink]="['/sessions']" (click)="stepUpAnalytics('exhibition_hall-3')">
                    <!-- <div class="pulsating-circle" id="exhibition_pulse" ></div> -->
                </div>
                <div class="logo">
                   <!-- <img src="https://starmyanmar.multitvsolution.com/assets/iglobal/all-logo/partners.png" alt=""> -->
                </div>
                <div class="slider">
                    <div class="slide-track">
                        <div class="slide">
                            <img src="assets/tie/images/ticker/ticker.jpg"  alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/ticker_1.jpg" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/ticker.jpg"  alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/ticker_1.jpg" alt="" />
                        </div>
                        <!-- <div class="slide">
                            <img src="assets/tie/images/ticker/3.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/4.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/5.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/6.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/7.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/8.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/9.jpg" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/10.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/11.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/12.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/13.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/14.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/15.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/16.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/17.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/18.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/19.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/20.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/21.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/22.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/23.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/24.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/25.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/26.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/27.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/28.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/29.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/30.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/31.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/32.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/33.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/34.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/35.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/36.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/37.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/38.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/39.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/40.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/41.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/42.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/43.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/44.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/45.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/46.png" height="60" width="250" alt="" />
                        </div> -->
                        <!-- repeated stuff -->
                        <!-- <div class="slide">
                            <img src="assets/tie/images/ticker/1.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/2.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/3.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/4.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/5.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/6.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/7.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/8.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/9.jpg" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/10.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/11.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/12.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/13.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/14.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/15.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/16.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/17.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/18.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/19.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/20.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/21.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/22.png" height="60" width="170" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/23.png" height="60" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/24.png" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="assets/tie/images/ticker/25.png" height="60" width="250" alt="" />
                        </div> -->
                        <!-- <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/02.jpg" height="60" width="170"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/03.jpg" height="60" width="250"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/04.jpg" height="60" width="200"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/05.jpg" height="60" width="200"
                                alt="" />
                        </div>
                        
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/07.jpg" height="60" width="150"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/08.jpg" height="60" width="150"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/09.jpg" height="60" width="200"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/06.jpg" height="60" width="310"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/01.jpg" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/02.jpg" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/03.jpg" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/04.jpg" height="60" width="200" alt="" />
                        </div> -->

                        
                    </div>
                </div>
                <!-- <div class="registraion-desk" (click)="playRegistrationDesk()">
                        <div class="pulsating-circle" id="regDeskvideo" ></div>
                    </div> -->
                <div class="networking-lounge" (click)="playNetworkingLounge();stepUpAnalytics('click_networkinglounge')">
                    <div class="pulsating-circle" id="networking_pulse"></div>
                </div>
                <div class="pitch" (click)="playpitch();stepUpAnalytics('click_pitchfest')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lounge" (click)="playlounge();stepUpAnalytics('click_lounge')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="speaker-profile" data-target=".speakerModal" (click)="stepUpAnalytics('click_speakerprofile')" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="sponsor_video" data-toggle="modal" (click)="stepUpAnalytics('click_sponsorvideo')" data-target=".sponsorModal">
                    <div class="pulsating-circle"></div>
                </div>
                <!-- <div id="exhibtion_1">
                   
                    <div class="one" (click)="gotoExhibtion('25');stepUpAnalytics('exhibition_25')">
                        
                    </div>
                    <div class="two" (click)="gotoExhibtion('26');stepUpAnalytics('exhibition_26')">
                        
                    </div>
                    <div class="three" id="exhibition_ones" (click)="gotoExhibtion('27');stepUpAnalytics('exhibition_27')">
                        
                    </div>
                    <div class="four" (click)="gotoExhibtion('28');stepUpAnalytics('exhibition_28')">
                        
                    </div>
                    <div class="five" (click)="gotoExhibtion('33');stepUpAnalytics('exhibition_33')">
                        
                    </div>
                    <div class="six" (click)="gotoExhibtion('30');stepUpAnalytics('exhibition_30')">
                        
                    </div>
                    <div class="seven" (click)="gotoExhibtion('31');stepUpAnalytics('exhibition_31')">
                        
                    </div>
                    <div class="eight" (click)="gotoExhibtion('32');stepUpAnalytics('exhibition_32')">
                        
                    </div>
                    <div class="nine" (click)="gotoExhibtion('29');stepUpAnalytics('exhibition_29')">
                        
                    </div>
                </div> -->
                <!-- <div id="exhibtion_2">
                    <div class="one" (click)="gotoExhibtion('34');stepUpAnalytics('exhibition_34')">
                        
                    </div>
                    <div class="two" (click)="gotoExhibtion('37');stepUpAnalytics('exhibition_37')">
                        
                    </div>
                    <div class="three" (click)="gotoExhibtion('38');stepUpAnalytics('exhibition_38')">
                        
                    </div>
                    <div class="four" (click)="gotoExhibtion('39');stepUpAnalytics('exhibition_39')">
                        
                    </div>
                    <div class="five" (click)="gotoExhibtion('40');stepUpAnalytics('exhibition_40')">
                        
                    </div>
                    <div class="six" (click)="gotoExhibtion('41');stepUpAnalytics('exhibition_41')">
                        
                    </div>
                    <div class="seven" (click)="gotoExhibtion('42');stepUpAnalytics('exhibition_42')">
                        
                    </div>
                    <div class="eight" (click)="gotoExhibtion('36');stepUpAnalytics('exhibition_36')">
                        
                    </div>
                    <div class="nine" (click)="gotoExhibtion('35');stepUpAnalytics('exhibition_35')">
                        
                    </div>
                </div> -->
                <!-- <div id="exhibtion_3">
                    <div class="one" (click)="gotoExhibtion('43');stepUpAnalytics('exhibition_43')">
                        
                    </div>
                    <div class="two" (click)="gotoExhibtion('44');stepUpAnalytics('exhibition_44')">
                        
                    </div>
                    <div class="three" (click)="gotoExhibtion('45');stepUpAnalytics('exhibition_45')">
                        
                    </div>
                    <div class="four" (click)="gotoExhibtion('46');stepUpAnalytics('exhibition_46')">
                        
                    </div>
                    <div class="five" (click)="gotoExhibtion('47');stepUpAnalytics('exhibition_47')">
                        
                    </div>
                </div> -->
                <!-- <div id="players">
                    <div class="one">
                        <i class="fa fa-play-circle" (click)="playShowVideo('../../../assets/acma/video/ACMA_lobby_video1.mp4')"></i>
                    </div>
                </div> -->
                <div id="players2">
                    <!-- <div class="two">
                        <i class="fa fa-play-circle" (click)="playShowVideo('../../../assets/acma/video/ACMA_lobby_video1.mp4')"></i>
                    </div> -->
                    <!-- <div class="three">
                        <i class="fa fa-play-circle" (click)="playShowVideo('../../../assets/acma/video/ACMA_lobby_2.mp4')"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video id="recepVideo" class="videoBg" (ended)="receptionEndVideo()">
        <source src="assets/video/To_Recp_01.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
    <video id="audLeftvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumLeftOnVideoEnd()">
        <source src="../../../assets/video/to_left_Auditorium.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumRight ? 'block': 'none'}" class="videoContainer">
    <video id="audRightvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumRightOnVideoEnd()">
        <source src="../../../assets/video/to_right_Auditorium.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':exhibitionHall ? 'block': 'none'}" class="videoContainer">
    <video id="exhibitvideo" preload="auto" class="videoBg" (ended)="gotoExhibitionHallOnVideoEnd()">
        <source src="assets/tie/animation/Exhibition_hall.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':phonex ? 'block': 'none'}" class="videoContainer">
    <video id="phonexvideo" preload="auto" class="videoBg" (ended)="gotophonexend()">
        <source src="assets/tie/animation/Phoenix.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':infinty ? 'block': 'none'}" class="videoContainer">
    <video id="infintyvideo" preload="auto" class="videoBg" (ended)="gotoinfintyend()">
        <source src="assets/tie/animation/Infinity.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':quantum ? 'block': 'none'}" class="videoContainer">
    <video id="quantumvideo" preload="auto" class="videoBg" (ended)="gotoquantumend()">
        <source src="assets/tie/animation/Quantum.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':lounge ? 'block': 'none'}" class="videoContainer">
    <video id="loungevideo" preload="auto" class="videoBg" (ended)="gotoloungemend()">
        <source src="assets/tie/animation/Lounge.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':pitch ? 'block': 'none'}" class="videoContainer">
    <video id="pitchvideo" preload="auto" class="videoBg" (ended)="gotopitchend()">
        <source src="assets/tie/animation/Pitch_fest.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':registrationDesk ? 'block': 'none'}" class="videoContainer">
    <video id="regDeskvideo" preload="auto" class="videoBg" (ended)="playAudiThreeFourEndVideo()">
        <source src="../../../assets/reinvest/video/exhibition.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video id="netLoungevideo" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <source src="assets/tie/animation/Networking.mp4" type="video/mp4">
    </video>
</div>

<div class="modal fade brouchersModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Brochures</h6>
                                <a class="close" (click)="closePopupbrouch()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message">
                                                <li class="chat_messageList" *ngFor="let docs of documents">
                                                    <div class="img_avatar"> <img src="assets/img/pdf.png" alt=""></div>

                                                    <span class="person">
                                                        <a href="{{docs.pdf}}" target="_blank" style="text-decoration: none; color: black; cursor: pointer;"
                                                             class="checkProfile">
                                                            {{docs.title}}</a>
                                                    </span>
                                                    <!-- <span *ngIf="docs.flag=='0'" (click)="postBreifcase(docs.title,docs.url)" class="float-right"
                            title="Add to breifcase" style="cursor: pointer;">
                            <img src="../../../../assets/icons/Briefcase.png" alt="">
                          </span> -->
                                                    <!-- <span *ngIf="docs.flag=='1'" class="float-right" title="Already Added" style="cursor: pointer;">
                            <i class="fa fa-briefcase" style="font-size: 28px;" aria-hidden="true"></i>
                          </span> -->
                                                    <!-- <span class="person">
                                <a href="test" download class="checkProfile"> test</a>
                              </span> -->



                                                </li>


                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

  <div class="modal fade sponsorModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Sponsor Videos</h6>
                                <a class="close" (click)="closePopupspon()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message">
                                                <li class="chat_messageList" *ngFor="let docs of videos">
                                                    <div class="img_avatar"> <img src="assets/icons/youtube.png" alt=""></div>

                                                    <span class="person">
                                                        <a nhref="" style="text-decoration: none; color: black; cursor: pointer;"
                                                             (click)="playShowVideo(docs.video)" class="checkProfile">
                                                            {{docs.title}}</a>
                                                    </span>
                                                    <!-- <span *ngIf="docs.flag=='0'" (click)="postBreifcase(docs.title,docs.url)" class="float-right"
                            title="Add to breifcase" style="cursor: pointer;">
                            <img src="../../../../assets/icons/Briefcase.png" alt="">
                          </span> -->
                                                    <!-- <span *ngIf="docs.flag=='1'" class="float-right" title="Already Added" style="cursor: pointer;">
                            <i class="fa fa-briefcase" style="font-size: 28px;" aria-hidden="true"></i>
                          </span> -->
                                                    <!-- <span class="person">
                                <a href="test" download class="checkProfile"> test</a>
                              </span> -->



                                                </li>


                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- <div id="light">
    <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
    <video id="VisaChipCardVideo"[src]="videoUrl" autoplay width="600" controls>
       
      </video>
  </div>
  <div id="fade" (click)="lightbox_close();"></div> -->
<div class="modal fade yvideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="modal fade speakerModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Speaker Profiles</h6>
                                <a class="close" (click)="closePopupspeak()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <iframe src="https://resurgence.moozup.com/Home/DirectoryWidget?eventurl=resurgence" style="width: 100%;
                                height: 113vh;
                                "></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closeModalVideo()">&times;</div>
                    <video id="videosp" preload="auto" autoplay src="{{videoSOurce}}" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
