.bg {
  background-image: url(../../../../assets/img/Exhibition/Exhibition3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #2d2b21;
  animation: opac .5s;

  // position: relative;
}
section{
  position: relative;
  width: 100%;
  height: 100%;
  #content{
    position: relative;
    #exhibition_content{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      #fullBg{
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        img{
          width: 96vw;
          height: 100vh;
        }
      }
    }
  }
}
@keyframes opac {
  from{
      opacity: 0;
  } to {
      opacity: 1;
  }
}

.adapt{
  position: absolute;
  top: 46%;
  left: 45%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.bohra{
  position: absolute;
  top: 46%;
  left: 22%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.helvot{
  position: absolute;
  top: 29%;
  left: 45%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.indo_schotle{
  position: absolute;
  top: 29%;
  left: 26%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.investment{
  position: absolute;
  top: 35%;
  left: 39.5%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.prs{
  position: absolute;
  top: 34%;
  right: 17%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.rse{
  position: absolute;
  top: 26%;
  right: 27%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.sellowrap{
  position: absolute;
  top: 26%;
  left: 41.3%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.right_tight{
  position: absolute;
  top: 26%;
  left: 26%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lifeboy{
  position: absolute;
  top: 57%;
  left: 25%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 90%;
      left: 20%;
  }
}
.arise{
  position: absolute;
  top: 49%;
  left: 47%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.achive{
  position: absolute;
  top: 49%;
  right: 25.5%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}