<div class="container-fluid" [ngStyle]="{'display':videoPlay? 'none': 'block'}">
    <div id="bg">
        <img src="assets/tie/images/login.PNG" alt="">
        <!-- <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000"> -->

            <!-- Indicators -->
            <!-- <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul> -->
            
            <!-- The slideshow -->
            <!-- <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/reinvest/images/login1.jpg" alt="Los Angeles" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="../../assets/reinvest/images/login2.jpg" alt="Chicago" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="../../assets/reinvest/images/login3.jpg" alt="New York" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="../../assets/reinvest/images/login4.jpg" alt="New York" width="1100" height="500">
              </div>
            </div> -->
            
            <!-- Left and right controls -->
            <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a> -->
          <!-- </div> -->
    </div>
    <div id="loginSection">
        <!-- <div class="row">
            <div class="col-md-8 col-xl-8 col-sm-8">
                <div id="brand">
                    <img src="../../assets/img/logo_acma.png" height="70" alt="logo">
                </div>

            </div>
            <div class="col-md-4 col-xl-4  col-sm-4">
                <div id="icons_social">
                    <a href="https://www.facebook.com/india.acma/" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/fb-icon.png"
                            width="46">
                    </a>
                    <a href="https://www.linkedin.com/company/acma-india/" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/in-icon.png"
                            width="46">
                    </a>
                    <a href="https://twitter.com/acmaindia" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/twit-icon.png"
                            width="46">
                    </a>
                </div>
            </div>
        </div> -->
        <div class="row mt-5">
            <div class="col-md-4 col-xl-4  col-sm-6 my-auto">
                
                <!-- <div class="login-wrapper text-center mt-5">
                    <h2>(Under Content Updation)</h2>
                </div> -->
                <div class="login-wrapper">
                    <h1 class="login-title" *ngIf="msg">{{this.msg}}</h1>

                    <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()" style="position: relative;">

                        <div class="form-group">

                            <label for="email" style="color: black;">EMAIL</label>

                            <input type="email" style="background-color: white;" class="form-control" required
                                autocomplete="off" formControlName="email" placeholder="ENTER YOUR REGISTERED EMAIL-ID">
                        </div>
                      
                        <div class="col-6" style="display: inline;">
                            <input style="width: 100%;" name="login" id="login" class="btn btn-block login-btn" type="submit" value="LOGIN">
         
                                <!-- <a style="text-decoration: none;" routerLink='/signup'><input style=" width: 100%;" class="btn btn-block login-btn" value="REGISTER HERE"></a> -->
                                <h6 class="text-right" style="font-size: small; color: black;font-weight: 800;">(if not registered already) <a style="text-decoration: none;" routerLink='/signup'>REGISTER HERE</a></h6>
                            
                        </div>
                        
                    
                    </form>

                </div>
                <!-- <div class="bol">
                    <div id="timer"></div>
                </div> -->
            </div>
            <!-- <div class="col-8 bol">
                
            </div> -->
            <!-- <div class="col-md-7 col-xl-7  col-sm-6">
                <div class="acma_text">
                    <h3>
                        Automotive Supply Chain- <br>
                        Adjusting to the New Normal
                    </h3>
                    <h5>
                        Building Strategic Partnerships <br>
                        between T-1& T-2/3 <br>
                        (Virtual Exhibiton)
                    </h5>
                    <h5>15-21 October' 2020; 10am-7pm</h5>
                </div>
            </div> -->
            
        </div>
    </div>
</div>
<div [ngStyle]="{'display':videoPlay? 'block': 'none'}" class="videoContainer">
    <video id="myVideo" preload="auto" class="videoBg" (ended)="endVideo()">
      <source src="assets/tie/animation/Outer_Animation.mp4" type="video/mp4">
    </video>
  </div>