<div class="container-fluid" [ngStyle]="{'display':videoPlay? 'none': 'block'}">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
      <img src="assets/img/acma_ve.jpg" class="login-img" alt="login image">
      <!-- <div class="login-section-wrapper">
        <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div>
        <div class="brand-wrapper">
          <img src="../../assets/img/logo.png" height="50" alt="logo">
        </div>
        <div class="login-wrapper my-auto">
          <h1 class="login-title">Sign In</h1>
          <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
            
            <div class="form-group">

              <label for="email">Email</label>
              <div placeholder="Official email id" *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)">
              
              </div>
              <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder="email@example.com">


            </div>
           
            <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
          </form>
        
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-9 col-lg-9 col-12">
          <div class="brand-wrapper">
            <img src="../../assets/img/logo_acma.png" height="70" alt="logo">
          </div>
         <div class="acma_text">
          <h2 style="color:white">
            Automotive Supply Chain- <br>
            Adjusting to the New Normal
          </h2>
          <h4 style="color: white;">
            Building Strategic Partnerships <br>
            between T-1& T-2/3 <br>
            (Virtual Exhibiton)
          </h4>
          <h4 style="color: white;">15-21 October' 2020; 10am-7pm</h4>
         </div>
        </div>
        <div class="col-md-3 col-lg-3 col-12">
          <div id="icons_social">
            <a href="https://www.facebook.com/acma.india" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/fb-icon.png">
            </a>
            <a href="https://www.linkedin.com/company/acma-india/" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/in-icon.png">
            </a>
            <a href="https://twitter.com/acmaindia" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/twit-icon.png">
            </a>
        </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Sign In/<span><a style="text-decoration: none; color: white;" routerLink="/signup">Sign Up</a></span></h1>
            <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()" style="position: relative;">
              
              <div class="form-group">
    
                <label for="email" style="color: white;">Email</label>
                
                <input type="email" style="background-color: lightgray;" class="form-control" required autocomplete="off" formControlName="email" placeholder="Enter your email">
    
    
              </div>
              <div class="form-group">
    
                <label for="pass" style="color: white;">Password</label>
               
                <input style="background-color: lightgray;" type="text" class="form-control" required autocomplete="off" formControlName="passwrds" placeholder="Enter your password">
    
    
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Submit">
            </form>
          
          </div>
    
        </div>
      </div>
    
    </div>
  </div>
</div>
<div [ngStyle]="{'display':videoPlay? 'block': 'none'}" class="videoContainer">
      <video id="myVideo" preload="auto" class="videoBg" (ended)="endVideo()">
          <source src="../../assets/img/Outer/Outer_Animation.mp4" type="video/mp4">
        </video>
</div>
<div>
  <!-- <div id="potrait" *ngIf="videoPlay && potrait">
    <img src="../../assets/img/rotate.gif" alt="">
    <p>Switch to Landscape view</p>
  </div> -->
</div>
<!-- <main>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12  px-0 d-none d-sm-block">
        <img src="../../assets/img/h-about.jpg" alt="login image" class="login-img">
        <div class="login-section-wrapper">
          <div class="brand-wrapper">
            <img src="assets/img/logo.png" height="50" alt="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Sign In</h1>
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" formControlName="email" placeholder="email@example.com">
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required class="form-control" placeholder="enter your passsword"
                  formControlName="password">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" (click)="login()" type="button" value="Login">
            </form>
            <a href="#!" class="forgot-password-link">Forgot password?</a>
            <p class="login-wrapper-footer-text">you have an account? <a href="#!" class="text-reset">Signin here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->