<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>HYDRO ENERGY</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <embed src="../../../assets/reinvest/images/water.jpeg" type="" width="100%">
          <!-- <iframe style="width:100%" src="../../../assets/reinvest/images/water.jpg" frameborder='0'></iframe> -->
        </div>
      </div>
    </div>
  