<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="assets/tie/images/ticker/ticker.jpg"  alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/ticker_1.jpg" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/ticker.jpg"  alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/ticker_1.jpg" alt="" />
        </div>
        <!-- <div class="slide">
            <img src="assets/tie/images/ticker/3.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/4.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/5.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/6.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/7.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/8.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/9.jpg" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/10.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/11.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/12.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/13.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/14.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/15.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/16.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/17.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/18.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/19.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/20.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/21.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/22.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/23.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/24.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/25.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/26.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/27.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/28.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/29.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/30.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/31.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/32.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/33.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/34.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/35.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/36.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/37.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/38.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/39.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/40.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/41.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/42.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/43.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/44.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/45.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/46.png" height="60" width="250" alt="" />
        </div> -->
        <!-- repeated stuff -->
        <!-- <div class="slide">
            <img src="assets/tie/images/ticker/1.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/2.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/3.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/4.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/5.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/6.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/7.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/8.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/9.jpg" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/10.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/11.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/12.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/13.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/14.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/15.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/16.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/17.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/18.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/19.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/20.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/21.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/22.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/23.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/24.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/25.png" height="60" width="250" alt="" />
        </div> -->
        <!-- <div class="slide">
            <img src="../../../assets/reinvest/all-logo/02.jpg" height="60" width="170"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/03.jpg" height="60" width="250"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/04.jpg" height="60" width="200"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/05.jpg" height="60" width="200"
                alt="" />
        </div>
        
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/07.jpg" height="60" width="150"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/08.jpg" height="60" width="150"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/09.jpg" height="60" width="200"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/06.jpg" height="60" width="310"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/01.jpg" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/02.jpg" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/03.jpg" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/04.jpg" height="60" width="200" alt="" />
        </div> -->

        
    </div>
</div>
<!-- <div id="a1">
    <a href="assets/reinvest/images/catalogue.pdf" download>
    <div class="one">
    </div>
    </a>
  </div> -->
<!-- <div class="bg"></div> -->
<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
                <img src="assets/tie/images/mainSTALL.jpg" alt="">
                <!-- <form action="" style="position: absolute; top: 10px; right: 100px;">
                    <input type="text" placeholder="Search Exhibition" style="padding: 7px;
                    border-radius: 20px;">
                </form> -->
            </div>
            <div id="setmulti" style="position: absolute;  top: 5%; left: 20%;z-index: 9999;">
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                </div>

            
            <div id="setSelect" style="position: absolute;  top: 5%; right: 20%;z-index: 9999;">
                <ng-select2 [placeholder]="Exhibitor" class="input-sm" [data]="exampleData" [(ngModel)]="red" (ngModelChange)="search()"></ng-select2>
                <!-- <select name="red" (change)="changeRoute()" id="position" style="width: 100%" class="form-control">
                    <option class="list" *ngFor="let cc of premiumList" value="{{cc.category}}_{{cc.id}}"  >{{cc.title}}</option>
                </select> -->

            </div>
            <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                    The session is currently live, please proceed towards the grand ballroom.
                </div>
            </div>
            <div>
                <!-- <div class="lifeboy" (click)="lifeboy('Narmada')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="adapt" title="Exhibitors" (click)="stepUpAnalytics('click_exhibitorcategory')" data-target=".exDirectory" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div>
                <!-- <div class="last" title="State Booths" data-target=".stateDirectory" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="bohra" title="country pavilion" (click)="stepUpAnalytics('click_countrypavilion')" data-target=".countryDir" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div>
                <!-- <div class="helvot" [routerLink]="['/pavillion']">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="indo_schotle"  (click)="stepUpAnalytics('click_birac')" data-target=".biracDir" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div>
                <!-- <div class="investment" (click)="lifeboy('29');stepUpAnalytics('exhibition_29')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="prs" data-target=".stpiDir" (click)="stepUpAnalytics('click_stpi')" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="sellowrap" (click)="stepUpAnalytics('click_tieconsponsor')" data-target=".annualDir" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="rse"  data-target=".incubatorDir" (click)="stepUpAnalytics('click_incubator')" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="right_tight" title="state pavilion" (click)="stepUpAnalytics('click_statepavilion')" data-target=".stateDir" data-toggle="modal" >
                    <div class="pulsating-circle"></div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- standard pop up modal -->
<div class="modal fade exDirectory" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStandard()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table class="w-100">
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;"> Exhibitors</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <div style="overflow-y: scroll; height: 550px; background-color: white;" >
                                    <tr *ngFor="let stands of standardList">
                                        <td *ngIf="stands.core_sectors == 'Exhibitors Pavilion'" (click)="lifeboy(stands.id)">{{stands.title}}</td>
                                    </tr>
                                    <td></td>
                                    <tr *ngFor="let prems of premiumList">
                                        <td *ngIf="prems.core_sectors == 'Exhibitors Pavilion'" (click)="premium(prems.id)">{{prems.title}}</td>
                                    </tr>
                                </div>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- country pav -->
<div class="modal fade countryDir" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStandard()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table class="w-100">
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;"> Exhibitors</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <div style="overflow-y: scroll; height: 550px; background-color: white;" >
                                    <tr *ngFor="let stands of standardList">
                                        <td *ngIf="stands.core_sectors == 'Countries Pavilion'" (click)="lifeboy(stands.id)">{{stands.title}}</td>
                                    </tr>
                                    <td></td>
                                    <tr *ngFor="let prems of premiumList">
                                        <td *ngIf="prems.core_sectors == 'Countries Pavilion'" (click)="premium(prems.id)">{{prems.title}}</td>
                                    </tr>
                                </div>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- state pav -->
<div class="modal fade stateDir" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStandard()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table class="w-100">
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;"> Exhibitors</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <div style="overflow-y: scroll; height: 550px; background-color: white;" >
                                    <tr *ngFor="let stands of standardList">
                                        <td *ngIf="stands.core_sectors == 'States Pavilion'" (click)="lifeboy(stands.id)">{{stands.title}}</td>
                                    </tr>
                                    <td></td>
                                    <tr *ngFor="let prems of premiumList">
                                        <td *ngIf="prems.core_sectors == 'States Pavilion'" (click)="premium(prems.id)">{{prems.title}}</td>
                                    </tr>
                                </div>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- stpi -->

<div class="modal fade stpiDir" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStandard()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table class="w-100">
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;"> Exhibitors</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <div style="overflow-y: scroll; height: 550px; background-color: white;" >
                                    <tr *ngFor="let stands of standardList">
                                        <td *ngIf="stands.core_sectors == 'STPI Pavilion'" (click)="lifeboy(stands.id)">{{stands.title}}</td>
                                    </tr>
                                    <td></td>
                                    <tr *ngFor="let prems of premiumList">
                                        <td *ngIf="prems.core_sectors == 'STPI Pavilion'" (click)="premium(prems.id)">{{prems.title}}</td>
                                    </tr>
                                </div>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- birac -->
<div class="modal fade biracDir" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStandard()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table class="w-100">
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;"> Exhibitors</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <div style="overflow-y: scroll; height: 550px; background-color: white;" >
                                    <tr *ngFor="let stands of standardList">
                                        <td *ngIf="stands.core_sectors == 'BIRAC Pavilion'" (click)="lifeboy(stands.id)">{{stands.title}}</td>
                                    </tr>
                                    <td></td>
                                    <tr *ngFor="let prems of premiumList">
                                        <td *ngIf="prems.core_sectors == 'BIRAC Pavilion'" (click)="premium(prems.id)">{{prems.title}}</td>
                                    </tr>
                                </div>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- incubator -->
<div class="modal fade incubatorDir" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStandard()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table class="w-100">
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;"> Exhibitors</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <div style="overflow-y: scroll; height: 550px; background-color: white;" >
                                    <tr *ngFor="let stands of standardList">
                                        <td *ngIf="stands.core_sectors == 'Incubator Pavilion'" (click)="lifeboy(stands.id)">{{stands.title}}</td>
                                    </tr>
                                    <td></td>
                                    <tr *ngFor="let prems of premiumList">
                                        <td *ngIf="prems.core_sectors == 'Incubator Pavilion'" (click)="premium(prems.id)">{{prems.title}}</td>
                                    </tr>
                                </div>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- annual pavi -->
<div class="modal fade annualDir" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStandard()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table class="w-100">
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;"> Exhibitors</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <div style="overflow-y: scroll; height: 550px; background-color: white;" >
                                    <tr *ngFor="let stands of standardList">
                                        <td *ngIf="stands.core_sectors == 'Annual Partners Pavilion'" (click)="lifeboy(stands.id)">{{stands.title}}</td>
                                    </tr>
                                    <td></td>
                                    <tr *ngFor="let prems of premiumList">
                                        <td *ngIf="prems.core_sectors == 'Annual Partners Pavilion'" (click)="premium(prems.id)">{{prems.title}}</td>
                                    </tr>
                                </div>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Premium pop up modal -->
<div class="modal fade premDirectory" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closePremium()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table>
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;">Country Stalls</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <tr *ngFor="let prems of countryList">
                                    <td routerLink="{{prems.routes}}" (click)="stepUpAnalytics(prems.title)">{{prems.title}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- State pop  up modal -->
<div class="modal fade stateDirectory" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStates()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table>
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;">State Stalls</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <tr *ngFor="let prems of stateList">
                                    <td routerLink="{{prems.routes}}">{{prems.title}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div style="position: absolute;  top: 5%; right: 15%;z-index: 9999;">
   
    <h2>Dropdown with search box</h2>
    <select>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
  </select>
  
</div> -->