<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <img usemap="#planetmap" src="../../../assets/reinvest/images/session.jpg" alt="" style="width: 100%; height: 100vh;">
            <map name="planetmap">
                <area shape="rect" coords="380,280,280,230" alt="Sun" [routerLink]="['/networkingLounge']">
                <area shape="rect" coords="550,280,450,230" alt="Mercury" [routerLink]="['/sessions']">
                <area shape="rect" coords="730,280,630,230" alt="Venus" [routerLink]="['/partners']">
                <area shape="rect" coords="910,280,810,230" alt="Venus" [routerLink]="['/networkingLounge']">
              </map>
        </div>
    </div>
</div> -->

<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg" style="background-color: black;">
                <img src="../../../assets/reinvest/images/session.jpg" alt="">
            </div>
            <i class="fa fa-arrow-right" [routerLink]="['/session-two']" aria-hidden="true"></i>
            <div id="exhibtion_5">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=SOLAR+POWER&dates=20201127T113000/20201127T130000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="one" (click)="showSessionPopup('one','Solar Power: The Future of Solar Energy','Solar energy has come a long way in the last decade. Back in 2010, the global market was small and countries like Germany and Italy were highly dependent on subsidies, however the situation has now changed. 2020 is expected to witness installed capacity of solar power of more than 115 gigawatts (GW across the world, which may increase to 3000 GW to 5000 GW by 2030. By that time, India will also have an installed capacity of 300 GW. In the coming years, technology improvements will ensure that solar becomes even more cheaper, having a positive impact on the environment and climate change. 

 

                Going forward, the solar industry has very clear cost-reduction roadmaps, which should see solar costs becoming half by 2030. Various new and cutting-edge technologies, such as bifacial, heterojunction, tandem cells in different forms, perovskite, direct wafer etc. are under development aiming for higher-efficiency and low cost modules. Low cost of solar will also expedite the growth and uses of hydrogen technologies in grid-balancing, by industry and in the transportation sector. In future, solar energy will also drive electric vehicles and solar powered charging infrastructure. The key challenge will be to fully integrate solar into our homes, businesses and power systems by using more and more energy storage in all possible forms, such as battery, pump storage, fuel cells etc. Further, decentralized Solar PV in the form of roof top, Agro-PV and off-Grid installations will bring the technical and commercial benefits of generating electricity close to the point of consumption. 
                
                 
                
                This session will deliberate upon highlighting innovations and advancements in solar energy technology and its equitable adoption for empowering a sustainable future.
                
                ','   • Component–A is for installation of small solar plants upto 2 MW capacity on barren/fallow land of farmers. Farmers will be able to sell power generated from small RE plants to DISCOMs at a pre-determined rate fixed by the Regulator. 10 GW capacity has been kept as a target for which DISCOMs will get Procurement Based Incentive.','• Component-B is for replacement of 2 million diesel pumps by standalone Solar Powered Agriculture Pumps for which 30% subsidy each by state and central Government will be provided.','  • Component-C is for solarisation of 1.5 million Grid-connected solar powered agriculture pumps which will enable farmers to get reliable day time power and sell surplus solar power to grid at a pre-determined rate fixed by the regulator. 30% Subsidy each by state and central Government will be provided. Higher central subsidy of 50% for special category states/UTs has been provided for Component B and C of the scheme. In order to eliminate subsidy burden of the states and to minimize losses of Discoms, a new provision has been included under Component-C to solarize agricultural feeders in place of solarization of individual pumps. Investment made on this will be recovered in 4-5 years.','  Further, in a move to make PM-KUSUM financially viable the Reserve Bank of India (RBI) has included all three components of PM-KUSUM under priority sector which will help farmers in getting loan from local banks. Component B and C have been included under the eligible category under Agricultural Infrastructure Fund (AIF) which will facilitate farmers to get loan at concessional rate.',' The session will deliberate upon opportunities and challenges for unlocking higher solar farm returns, promotion of Agro-PV and ways to facilitate farmers for availing cheaper loans from Banks. ','Discussion Points',

            '• Furthering a conducive ecosystem for solarizing agriculture',
            '• Key steps to enhance returns to farmers',
            '• Examining the regulations',
            '• Role of different governmental bodies in supporting farmers',
            '• Lessons from India to the world','Opening Remarks by
            • Mr Amitabh Kant , Chief Executive Officer, NITI Aayog',
            'Keynote Address: Prof. Eicke R. Weber, Chair, European Solar Council ESMC Former Director, Fraunhofer ISE, Freiburg, Prof. emeritus, Dept. of Materials Science, UC Berkeley',
            ' Moderator: Dr Amit Jain, Senior Energy Specialist, the World Bank','Panelists',
            '• Ms Gauri Singh, Deputy Director-General, International Renewable Energy Agency (IRENA)','
            • Mr Manu Srivastava, Administrative Member, Board of Revenue , Government of Madhya Pradesh',
            '• Mr Jatindra Nath Swafin, Chairman and Managing Director, Solar Energy Corporation of India (SECI)','
            • Mr Sumant Sinha, Chairman and Managing Director, ReNew Power Pvt. Ltd.','
            • Mr Praveer Sinha, Chief Executive Officer & Managing Director, Tata Power Company Limited',
            '• Prof. Chetan Singh Solanki, Founder, Energy Swaraj Foundation',
        
        
        
        'Vote of Thanks');stepUpAnalytics('click_Technical_session_one')">
                </div>
            </div>
            <div id="exhibtion_6">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=GREEN+TRADING&dates=20201127T113000/20201127T130000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="two" (click)="showSessionPopup('two','Green Trading: Rise of the Short-Term Procurement Market','Electricity from renewable energy sources (RES) has reached maturity in terms of volume, forecasting certainty, cost competitiveness, players in the market, and risk perception.',' On 17 August 2020, the Central Electricity Regulatory Commission (CERC) has approved Indian Energy Exchange (IEX) proposal for opening the Green Term Ahead Market (G-TAM).',  'This is a step towards renewables deployment in market mode.',  'Proposal for opening a Green Day Ahead Market (G-DAM) window is also under active consideration.',

                'Opening up a separate renewable power trading window in exchanges is expected to enhance visibility and also create an organized competition for electricity from renewable energy sources.',' The markets would allow for discovery of true perceived price of renewables including the attribution for RPO compliance.',
                
                'Renewable power trade in exchanges will also help corporates and other bulk buyers in meeting their voluntary commitments for increasing consumption of renewable power in their operations.',' This could also see emergence of innovative business models for generators and buyers beyond long-term PPAs.',  
                
                'In above background, the Session aims to facilitate exchange of updates and suggest ways to address challenges in ways of increasing share of electricity from renewable energy sources traded in exchanges.','Discussion points',

                '• Specific market design requirements',
                '• Availability of Merchant power from renewables','• Scheduling   of power from renewables in G-TAM and G-DAM', 
                '• Applicability of government incentives', 'Opening Remarks by Moderator:  Ms Kanika Chawla, Director, Council on Energy, Environment and Water',

                'Panelists',
                
                    '• Mr S S Barpanda, Director, POSOCO',
                    '• Dr Sushanta Kumar Chatterjee, Chief (Regulatory Affairs), CERC',
                    '• Mr Prabhajit Kumar Sarkar, Managing Director & Chief Executive Officer, PXIL',
                    '• Mr Rajesh Kumar Mediratta, Director, IEX',
                    '•  Mr Mayank Bansal, Head of Strategy, Renew Power',
                
                'Q&A',
                
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_two')">
                </div>
            </div>
            <div id="exhibtion_7">

                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=AUSTRALIA+RENEWABLE+ENERGY&dates=20201127T113000/20201127T130000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="three" (click)="showSessionPopup('three','AUSTRALIA: AN INNOVATION PARTNER IN RENEWABLE ENERGY','Welcome Note:','Munish Sharma, Trade Commissioner and Consul, South Asia, Austrade','Keynote Address:',' Eminent Expert from the Australian Renewable Sector ','The Hon Barry O`Farrell AO, High Commissioner of Australia to India','Proposed Speakers (CXO Level) from the following companies','• Ping Services : Acoustic fault detection in wind blades', 
                '• Energy Exemplar : Simulation and Optimization technology to help with decisions', 
                '• Power Ledger Block chain solutions for renewable energy', 
                '• Sunpower Renewables :Carry your solar energy', 
                '• Ecoult :Energy storage solutions', 
                '• Univ. of New Castle :','Disruption through printing solar cells',
                
                'Panelists',
                '• Ms Tammy Chu, MD, Entura',
                '• Mr Brad Hopkins, Partner and Lead, Clean Energy, KPMG Australia',
                '• Mr Vinod Tiwari, Head of Global BD, Power Ledger',
                '• Mr Matthew Stead, Chief Executive Officer, Ping Services',
                '• Mr Rahul Kale, Founder & Chief Executive Officer, Sunpower Renewables', 
                '• Prof Paul Dastoor, University of New Castle',
                'Q&A',
                'Closing remarks and Vote of Thanks:','Munish Sharma');stepUpAnalytics('click_Technical_session_three')">
                </div>
            </div>
            <div id="exhibtion_8">

                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Madhya+Pradesh&dates=20201127T113000/20201127T130000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="four" (click)="showSessionPopup('four','State Session -Madhya Pradesh','Topic- GoMP`s focus on RE',
                'Speakers- Hon`ble Minister NRE, Government of Madhya Pradesh',
                
               ' Topic- MP’s achievements and plans ahead in RE ',
                'Speakers- Mr Sanjay Dubey PS, NRE, Government of Madhya Pradesh',
                
                'Topic- New Technologies’ and its application in the field of RE',
                'Speakers- Ms. Surbhi Goyal, World Bank',
                
                'Topic- Innovations and adoption of best practices in the field of RE',
                'Speakers- Mr. Bhanu Mehrotra, IFC',
                
                'Topic- Madhya Pradesh an ideal destination to invest', 
                'Speakers- Mr Dilip Nigam, Director, MNRE',
                
                'Topic- Solar power in MP ',
                'Speakers- Mr  Vipul Tuli, Managing Director, Sembcorp Energy India Ltd',
                
                'Topic- Solar power in MP',
                'Speakers- Mr Rohit Modi, Soft Bank Energy',
                
                'Topic- Future of wind energy in MP',
                'Speakers- Mr Chintan Shah, IREDA',
                
                
'Support from state agencies in project execution in MP',

'Mr. Abhishek Bansal, Arinsun Clean Energy',

 

'Solar power in MP',

'Mr Raghav Agrawal, Rotomag Motors',

'Session Moderator',

'Mr Avaneesh Shukla, RUMSL',

'Concluding Remarks - Mr Deepak Saxena, RUMSL & GoMP');stepUpAnalytics('click_Technical_session_four')">
                </div>
            </div>
            <div id="exhibtion_9">

                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Skilling+for+Renewables&dates=20201127T113000/20201127T130000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="five" (click)="showSessionPopup('five','Skilling for Renewables: From ITIs to IITs ','Renewable energy is playing a vital role in greening the economy, while restructuring of employment will continue due to the global transition to low carbon economy.','', 'The Indian Government’s international commitments for fighting against climate change and declared target capacity addition of 175GW of renewable energy (RE) has significantly changed contours of power sector including demand for skilled and qualified manpower.','', 'There is also a pressing need for trained professionals to teach RE courses, to design and implement efficient policies and to accurately assess renewable energy project proposals.',
                '',
                'This session addresses the sector specific skill gaps and strategies to increase job and entrepreneurship opportunities to promote skilled youth to take care of growing needs of renewable energy.','',
                
                'Opening Remarks by Moderator: ',  'Mr K Krishan, Chairman, Commonwealth Infrastructure Partners and Managing Director, Skill Council for Green Jobs',
                '',
                'Panelists ',
                
                    '• Mr Praveen Kumar, Secretary, Ministry of Skill Development & Entrepreneurship, Govt. of India',
                    '• Mr. Somesh Ranjan, Executive Director, Chief Skill Development Centres & First Appellate Authority, ONGC ',
                    '• Brig (Dr) S. S. Pabla, Pro Chancellor, Bhartiya Skill Development University, Jaipur',
                    '• Dr Geoffrey Clements, Chairman, Commonwealth Infrastructure Partners',
                    '• Dr Moustapha Kamal Gueye, Coordinator, Green Jobs Programme, International Labour Organization (ILO), Geneva',
                    '• Ms Meagan Fallone,  Chief Executive Officer, Barefoot College International',
                    '• Prof Arun Kumar, Professor, Indian Institute of Technology (IIT) Roorkee',
                '',
                'Q&A','',
                
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_five')">
                </div>
            </div>
            <div id="exhibtion_10">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Wind+Power&dates=20201127T150000/20201127T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="six" (click)="showSessionPopup('six','Wind Power in India: The Decade Ahead','Countries across the world including India are looking at round the clock (24×7) renewable energy.',' Through hybridizing wind power with solar power, different models of providing more stable power are emerging.',' New technologies and bigger turbines being introduced will work efficiently in lower wind regimes also.',
                    '',
                'The Session will deliberate on what it will take in terms of infrastructure and technology to be a ‘wind-savvy’ nation.',
                '',
                'Opening Remarks by Moderator:','  Mr Ben Backwell,  Chief Executive Officer, Global Wind Energy Council (GWEC)',
                '',
                'Panelists',
                '',
                    '• Mr Neerav Nanavaty,  Chief Executive Officer & Country Manager-India, ENGIE',
                    '• Mr Rajnikanth Umakanthan, Managing Director, 3Tier India, Vaisala',
                    '• Mr Ashwani Kumar, Chief Executive Officer, Suzlon Group',
                    '• Mr Ramesh Kymal, Chief Executive Officer - Wind Power, Adani Green Energy Limited (AGEL)',
                    '• Mr Sunil Jain, Chief Executive Officer and Executive Director, Hero Future Energies',
                    '',
                    '• Mr Gilan Sabatier, Head of Region- India & Southeast Asia , GE Renewable Energy',
                    '• Mr Chintan Shah, Director, IREDA',
                    '• Dr K Balaraman, Director General, National Institute of Wind Energy (NIWE)',
                'Q&A',
                '',
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_six')">
                </div>
            </div>
            <div id="exhibtion_11">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Grid+Balancing&dates=20201127T150000/20201127T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="seven" (click)="showSessionPopup('seven','Grid Balancing: The Demand-Supply Fundamentals in New Age Systems','During the first few weeks of the lockdown due to COVID-19, one of the immediate issues that the power sector faced was lowering of demand from the C&I sector.',' It shed some light on why grid balancing is increasingly important in managing change and in managing demand-supply situation.', 'Neither high-power, lower demand nor a low-power high-demand situation is desirable. ',
                '',
                'What will Grid Balancing systems of the future look like? This Session is meant to explore different grid balancing best practices and investments required.',
                '',
                'Opening Remarks by Moderator:',' Mr Pratik Agarwal, Group  Chief Executive Officer, Sterlite Power Transmission Ltd',
                
                'Panelists',
                '',
                    '• Mr S K G Rahate, Additional Secretary,  Ministry of Power, Government of India','',
                    '• Mr S K Soonee, Advisor, POSOCO',
                    '• Mr Rajiv Ranjan Mishra, Managing Director, CLP India',
                    '• Mr Robert Klaffus,  Chief Executive Officer Digital Grid BEI Siemens','',
                    '• Mr Vibhu Kaushik, Director of Grid Technology & Modernization, Southern California Edison',
                    '• Dr Bernhard Ernst, Group Manager Grid Planning & Operation, Fraunhofer IEE Fraunhofer Institute Germany',
                    '• Mr Anurag Mishra, Senior Energy Team Leader, USAID India',
                '',
                'Q&A',
                '',
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_seven')">
                </div>
            </div>
            <div id="exhibtion_12">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Indias+Renewable+Denmark&dates=20201127T150000/20201127T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="eight" (click)="showSessionPopup('eight','India’s Renewable Transition with Strong Engagement from Denmark','The objective of this country session on Denmark at Global RE-Invest India is to illustrate the strong commitment and engagement from Denmark in India’s green transition –', 'particularly in the area of renewable energy and more specifically wind energy.',

                'This partnership in renewable energy dates back several decades with Danish companies engaged in developing the wind energy sector of India through research, development, supply, and service of wind turbines – and more recently also as investors and operators of wind parks.',' Further, leading Danish wind companies have established large manufacturing plants in India.',
                
                'With India’s targets of reaching xx GW of renewable energy capacity by 20xx and with the Danish wind industry strongly present and fully engaged in India, a strong collaboration is formed to further accelerate India’s expansion in wind energy.',' Our government further support this common endeavour through a green strategic partnership and the Indian-Danish Energy Partnership.',
                
                'In this session, strong stakeholders from government and private sector share their experiences and visions on how to further build and improve this partnership.',
                
                    'A) OFFICIAL DANISH – INDIAN ENERGY PARTNERSHIP',
                
                   ' • Welcome Remarks Lars Sandahl Sørensen, Chief Executive Officer, Confederation of Danish Industry',
                
                    '• The Green Strategic Partnership between India and Denmark Freddy Svane, Ambassador of Denmark to India',
                
                    '• India’s Quest for New and Renewable Energy  Indu Shekhar Chaturvedi, Secretary, Ministry of New and Renewable Energy',
                
                   ' • The India Denmark Energy Partnership       Kristoffer Böttzauw, Director General, Danish Energy Agency',
                
                   ' • Panel Discussion: Ensuring a Productive Partnership for All Stakeholders',
                
                    'B) WIND ENERGY – A JOINT DANISH-INDIAN SUCCESS STORY',
                
                    '• Wind Energy as it Plays Out in Gujarat     Saurabh Patel, Energy Minister, Gujarat',
                
                    '• Committed to Wind Energy in India     Amar Viraiwa, Director Public Affairs India and SE Asia, Vestas Wind Systems',
                
                    '• Wind Energy – Creating Jobs and Green Growth in India    Hemkant Limaye, Senior Director – Global Marketing, LM Wind Power Blades',
                
                    '• Offshore Wind Projects with International Participation   Øyvind Vessia, Head of Regulatory Affairs, Ørsted',
                
                    '• India’s First Offshore Wind Farm – the Further Wind Business Perspectives  ',
                    ' Erik Mohr, Project Director, Wind Energy and Renewables, COWI',
                
                    '• Panel Discussion: Future Scenario of Wind Energy in India',
                
                'Conclusions',
                
                'Moderator: Finn Mortensen, Executive Director, State of Green');stepUpAnalytics('click_Technical_session_eight')">
                </div>
            </div>
            <div id="exhibtion_13">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Tamil+Nadu&dates=20201127T150000/20201127T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="nine" (click)="showSessionPopup('nine','STATE SESSION: Tamil Nadu','Renewable Energy CXO Round Table', 'Theme: Building a robust ecosystem for attracting renewable energy investments in Tamil Nadu','Introduction by the Moderator; Mr Amit Kumar, PwC Partner, Clean Energy',
                '• Professional background of the panel members',
              '• Company Profile',
            '',
           ' Welcome Message by Dr Neeraj Mittal, IAS, MD & CEO, Guidance Tamil Nadu' ,
                '• About Guidance – Role and Vision',
                '• Tamil Nadu investment eco-system',
            
            'CXO Panel Discussion ',
            
            'Panellist',
            '',
               '• Dr Neeraj Mittal IAS, MD & CEO, Guidance Tamil Nadu',
                
                '• Mr. Joshua M Solomon , MD, TPI Composites India Private Limited',
                '• Mr. Peter Pallishøj, CEO, Baettr Sales & Services A/S',
                '• Mr. Saibaba Vutukuri, CEO, Vikram Solar',
                '• Mr. Francis Jayasurya, India Head, Global Wind Energy Council',
                '• Mr. Sujoy Gosh, Country Head – First Solar' ,
                '• Mr. Venkat Venkataraman, CTO & Executive VP Engineering, Bloom Energy',
                '• Mr Dhananjay Kumar, Business Development & Regulatory Affairs, Engie',
            '',
            'Q&A',
            'Concluding remarks by Dr Neeraj Mittal IAS');stepUpAnalytics('click_Technical_session_Nine')">
                </div>
            </div>
            <div id="exhibtion_14">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Solarizing+Agriculture+Cultivating+Renewable&dates=20201127T150000/20201127T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="ten" (click)="showSessionPopup('ten','Solarizing Agriculture: Cultivating Renewable Energy in India’s Farmlands','Agro-PV offers an opportunity to enable the achievement of both the sustainable agriculture and clean energy transitions. Decentralised and distributed renewable energy solutions including solar powered irrigation can significantly contribute towards decarbonising electricity generation without any additional investment on transmission infrastructure. 

 

                India’s Pradhan Mantri Kisan Urja Suraksha evam Utthaan Mahabhiyan (PM-KUSUM), a flagship scheme of the Ministry of New and Renewable Energy (MNRE) is a transformational initiative and offers central financial to the tune of INR 34,222 Crores with a target installation of 30.5 GW. KUSUM aims to expand the energy access to marginal farmers, energy independence for grid connected agricultural consumer and provide an additional source of income to the farmers. It has three components. 
                
                
                
                •    Component–A is for installation of small solar plants upto 2 MW capacity on barren/fallow land of farmers. Farmers will be able to sell power generated from small RE plants to DISCOMs at a pre-determined rate fixed by the Regulator. 10 GW capacity has been kept as a target for which DISCOMs will get Procurement Based Incentive. 
                •    Component-B is for replacement of 2 million diesel pumps by standalone Solar Powered Agriculture Pumps for which 30% subsidy each by state and central Government will be provided (Higher central subsidy of 50% for special category states/UTs). With the use of Universal Solar Pump Controller, farmers will be able to use surplus energy for operation of other agricultural equipment also.
                •    Component-C is for solarisation of 1.5 million Grid-connected solar powered agriculture pumps which will enable farmers to get reliable day time power and sell surplus solar power to grid at a pre-determined rate fixed by the regulator. 30% Subsidy each by state and central Government will be provided (Higher central subsidy of 50% for special category states/UTs). In order to eliminate subsidy burden of the states and to minimize losses of Discoms, a new provision has been included under Component-C to solarize agricultural feeders in place of solarization of individual pumps. Investment made on this will be recovered in 4-5 years. 
                
                Further, in a move to make PM-KUSUM financially viable the Reserve Bank of India (RBI) has included all three components of PM-KUSUM under priority sector which will help farmers in getting loan from local banks. Component B and C have been included under the eligible category under Agricultural Infrastructure Fund (AIF) which will facilitate farmers to get loan at concessional rate.
                
                The session will deliberate upon opportunities and challenges for unlocking higher solar farm returns, promotion of Agro-PV and ways to facilitate farmers for availing cheaper loans from Banks.','By that time, India will also have an installed capacity of 300 GW. In the coming years, technology improvements will ensure that solar becomes even more cheaper, having a positive impact on the environment and climate change. ',
'',
                'Going forward, the solar industry has very clear cost-reduction roadmaps, which should see solar costs becoming half by 2030.',' Various new and cutting-edge technologies, such as bifacial, heterojunction, tandem cells in different forms, perovskite, direct wafer etc. are under development aiming for higher-efficiency and low cost modules.',' Low cost of solar will also expedite the growth and uses of hydrogen technologies in grid-balancing, by industry and in the transportation sector. In future, solar energy will also be the key for electric vehicles and solar powered charging infrastructure.',' The other important innovation will be to integrate solar into our homes, businesses and power systems. This means better power electronics and huge need for increased energy storage, involving battery, pump storage, fuel cells & other forms of storage, roof top installation and Agro-PV applications. ',
                
                'This session will deliberate upon highlighting innovations and advancements in solar energy technology and its equitable adoption for empowering a sustainable future.',
                
                'Discussion Points',
                
                    '• Where is the world headed with Solar technology?',
                    '• How prepared is India to claim its place in the world as a Solar giant?',
                    '• What are the different investment models of the future?',
                
                'Opening Remarks by :  Shri R K Singh, Minister of State for Power, New & Renewable Energy (I/C) and Skill Development and Entrepreneurship, Government of India',
                
               '• Keynote Address by Mr Satya S Tripathi, UN Assistant Secretary-General and Head of New York Office, UN',
              'Moderator - Ms Vandana Gombar, Editor-Global Policy, Bloomberg NEF',
                'Panelist:',
                
                    '• Mr Sanjay Dubey, Principal Secretary, Energy Department, Government of Madhya Pradesh',
                    '• Mr Maximilian Trommsdorff, Head of Team Agrivoltaics Group PV Power Plants,',
                    '• Mr Saurabh Kumar, Executive Vice Chairman, Energy Efficiency Services Limited',
                    '• Dr Ajay Mathur, Director General, The Energy and Resources Institute (TERI)',
                    '• Mr Mohinder Gulati, International Consultant, the World Bank',
                
                'Q&A',
                
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_ten')">
                </div>
            </div>
            <!-- <div id="exhibtion_15">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=FOCUS+STATE&dates=20201127T163000/20201127T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="eleven" (click)="showSessionPopup('eleven')">
                </div>
            </div>
            <div id="exhibtion_16">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=THE+NEW+NORMAL+FOR+RENEWABLE+ENERGY&dates=20201127T163000/20201127T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="twelve" (click)="showSessionPopup('twelve')">
                </div>
            </div> -->

        </div>
    </div>
</section>


<div class="modal fade confirmModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="profile_section">
                            <div class="chat_section">
                                <div class="popup_header">
                                    <!-- <h6 class="text-dark"><b>SPEAKERS</b></h6> -->
                                    <h5>Technical Session</h5>
                                    <a class="close" (click)="closePopup()"></a>
                                </div>
                                <div class="row mt-4 ml-2 mr-2 mb-2" id="setPopup">
                                    <div id="popupmsg">
                                        
                                        <h4 class="text-center">{{this.getHeading}}</h4>
                                            <p  style="height: 35vh;
                                            overflow-y: auto;">{{this.getDesc}}<br>{{this.getPort}}<br>{{this.getPort2}}<br>{{this.getPort3}}<br>{{this.getPort4}}<br>{{this.getPort5}}<br>{{this.getPort6}}<br>{{this.getPort7}}<br>{{this.getPort8}}<br>{{this.getPort9}}<br>{{this.getPort10}}<br>{{this.getPort11}}<br>{{this.getPort12}}<br>{{this.getPort13}}<br>{{this.getPort14}}<br>{{this.getPort15}}<br>{{this.getPort16}}<br>{{this.getPort17}}<br>{{this.getPort18}}<br>{{this.getPort19}}<br>{{this.getPort20}}<br>{{this.getPort21}}<br>{{this.getPort22}}</p>
                                            <!-- <p>Are you Sure You want to continue session?</p> -->
                                        <div>
                                            <button class="btn" id="okbtn" (click)="navigate()">Join Now</button>
                                            <button class="btn btn-danger" (click)="closePopup()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>