<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <img usemap="#planetmap" src="../../../assets/reinvest/images/session.jpg" alt="" style="width: 100%; height: 100vh;">
            <map name="planetmap">
                <area shape="rect" coords="380,280,280,230" alt="Sun" [routerLink]="['/networkingLounge']">
                <area shape="rect" coords="550,280,450,230" alt="Mercury" [routerLink]="['/sessions']">
                <area shape="rect" coords="730,280,630,230" alt="Venus" [routerLink]="['/partners']">
                <area shape="rect" coords="910,280,810,230" alt="Venus" [routerLink]="['/networkingLounge']">
              </map>
        </div>
    </div>
</div> -->

<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg" style="background-color: black;">
                <img src="../../../assets/reinvest/images/session2.jpg" alt="">
            </div>
            <i class="fa fa-arrow-left" [routerLink]="['/sessions']" aria-hidden="true"></i>
            <i class="fa fa-arrow-right" [routerLink]="['/session-three']" aria-hidden="true"></i>
            <div id="exhibtion_5">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Small+Hydro&dates=20201127T163000/20201127T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="one" (click)="showSessionPopup('eleven','Small Hydro: Small Steps to Great Success','Countries across the world are looking at round-the-clock 24×7 renewable energy and are taking series of steps to promote development of small hydro power (SHP) in a planned manner.',' SHP projects are known for providing reliable power in a decentralized manner without submergence and displacement of people.',' The Government of India as well as many State Governments are supporting setting up of these projects.',' Efficiencies introduced due to bidding in solar and wind power sector has thrown up challenges to enhance transparency and improve efficiencies in this sector.',  
                '',
                'The session will focus on understanding what can be done to encourage SHPs and scaling them up to be able to increase India’s energy access at the last mile and in difficult border areas.',
                '',
                
                'Opening Remarks by Moderator:  Prof Arun Kumar, Professor, Indian Institute of Technology (IIT) Roorkee',
                '',
                
                'Panelists',
                '',
                    '• Mr Ram Prasad Dhital, Member, Planning & Monitoring, Regulatory and External Affairs, Electricity Regulatory Commission, Nepal',
                    '• Mr R K Joshi, Chief Engineer, Department of Hydro Power Development, Government of Arunachal Pradesh',
                    '',
                    '• Mr Alex Campbell, Head of Research & Policy, International Hydropower Association (IHA)',
                    '• Ms Ewa Malicka, President, Polish Association for Small Hydropower Development (TRMEW)',
                    '',
                    '• Mr P M  Nanda, Sr Vice President,  Greenko Group',
                    '• Mr Muddasir Nazir Mir, Director, Magpie Hydel Construction Operation Industries P. Ltd.',
                '',
                'Q&A',
                '',
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_eleven')">
                    </div>
                </div>
                <div id="exhibtion_6">
                    <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Women+Renewable&dates=20201127T163000/20201127T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                    <div class="two" (click)="showSessionPopup('twelve','Women in Renewable Energy',                  
                    'Women in Renewable Energy',
                    '',
                    'Women account for one third of the renewable energy work force, a number higher than many other technology fields but still lower in its share across the economy.',' Integration of women as energy-decision makers in running organizations will have positive impact on the sector.','  But for any female entrepreneur to enter the sector, the high level of structural inequality poses significant barriers such as low representation of women in STEM subjects, unconscious cultural and social bias, access to finance, lack of skills and mentorship etc.,',' which may be addressed by capacity building and skill development, facilitating gender specific financing and creating awareness. ',
                    '',
                   ' This session would examine, outline and deliver tools that CEOs need to implement to ensure inclusiveness of more women in their RE workforce and leadership, while investing in mass initiatives by engaging, retaining and promoting women to fill growing needs of renewable energy.',
                    '',
                    'Opening Remarks by Moderator: Ms Vaishali Nigam, Chair ReNew Foundation and Chief Sustainability and CSR Officer ReNew Power',
                    '',
                    'Panelists',
                        '• Ms. Vaishali Nigam, Chief CSR, Communications & Responsibility Officer, ReNew Power Ltd',
                        '• Dr. Jyoti Parikh, Executive Director, IRADe',
                        '• Ms. Meagan Fallone,  Chief Executive Officer, Barefoot College International',
                        '• Ms. Cécile Martin-Phipps, Director Strategy, Communication & Operations, Secretariat, International Solar Alliance',
                        '• Ms Mahua Acharya, Asia Director, Climate Policy Initiative',
                        '• Ms Rashi Gupta, Managing Director, Vision Mechatronics Pvt. Ltd.',
                        '• Ms Susan Ferguson, Country Representative India, UN Women',
                    '',
                   ' Q&A',
                    '',
                    'Vote of Thanks');stepUpAnalytics('click_Technical_session_twelve')">
                    </div>
                </div>
                <div id="exhibtion_7">
                    <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=UNITED+KINGDOM&dates=20201127T163000/20201127T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                    <div class="three" (click)="showSessionPopup('thirteen','COUNTRY SESSION: GREAT BRITIAN & NORTHERN IRELAND','The session would extensively deliberate on the Role of Renewable Energy Enterprises in the Decarbonisation Agenda’',
                    '',
                    'Opening Remarks: Jan Thompson, Acting UK High Commissioner to India', 
                    '',
                    'Key Note Address: Shri Indu Shekhar Chaturvedi, Secretary, Ministry of New and Renewable Energy ',
                    '',
                    'Special Remarks: Dr John Murton, UK Government’s COP26 Envoy', 
                    '',
                    'Panel Discussion on ‘Role of Renewable Energy Enterprises in the Decarbonisation Agenda’: ',
                    'Moderated by Jennifer Fagan, First Secretary and Head of Energy Team, Department for International Trade, British High Commission Setting the context: Jennifer Fagan', 
                    '',
                    'Remarks by panelists', 
                        '• Dinesh Dayanand Jagdale, Joint Secretary, Ministry of New and Renewable Energy (MNRE)',
                        '',
                        '• Manav Bansal, Chief Investment Officer, NEEV Fund',  
                        '',
                        '• Alan Gooding, Executive Director, Smarter Grid Solutions', 
                        '',   
                        '• Dr Stephen Wyatt, Research & Innovation Director, ORE Catapult',   
                    '',
                    'Q&A',
                    '',
                    'Summing up: Moderator');stepUpAnalytics('click_Technical_session_thirteen')">
                    </div>
                </div>
                <div id="exhibtion_8">
                    <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=SESSION+Gujarat&dates=20201127T163000/20201127T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                    <div class="four" (click)="showSessionPopup('fourteen','STATE SESSION: Gujarat','','Gujarat has emerged as a model of excellence in Renewable Energy Sector  with a target of 65 GW by 2030 through various conducive policy measures.','',' Presently, RE capacity constitutes 37% of the total installed capacity and Gujarat ranks 1st in rooftop capacity in India.',
                    
                    'Gujarat has launched various schemes like Surya Urja Rooftop Yojana 2019, Policy for development of Small Scale Projects and Policy for development of solar projects at the vicinity of existing sub-stations for encouraging distributed generation and ,',' ‘Kisan Suryodaya Yojana’ for day-time power supply to farmers and ‘Suryashakti Kisan Yojana (SKY)’ for empowering the farmers.','',' Policy for allotment of Government Waste-land for RE Parks envisages  World’s Largest Hybrid RE Park with 30 GW capacity.',
                    
                    'Gujarat has successfully completed Competitive Bidding for 4150 MW RE Projects  in last three years. ',
                    
                    'Inspired by tremendous success of its first multi-developer & multi-beneficiary Charanka Solar Park in 2010,',' the State is developing three more Solar Parks viz.',' 5000 MW Dholera-SIR, 700 MW Raghanesda and 500 MW Harsad Park',
                    '• Opening remarks and Overview of Gujarat Renewable energy Sector by Smt. Sunaina Tomar, IAS, Addl. Chief Secretary Energy and Petrochemicals Department, Government of Gujarat.',

                    '• Gujarat-towards RE centric Future by Mr. Praveer Sinha, Managing Director, TATA Power ',
                    '• Developing Indigenous Solar Cell and Modules  manufacturing capacity by Shri Ramesh Nair, CEO, Adani Solar',
                
                    '• Gujarat- Pioneering India’s Renewable Energy Transition by Shri Sumant Sinha, Chairman and MD, ReNew power',
                
                   ' • Policy initiatives & Govt. support in attracting  more investment in RE sector by Shri Vineet Mittal, Chairman, Awaada group',
                
                    '• Regulatory aspects for RE development in Gujarat by Shri Ananad Kumar, Chairman, Gujarat Electricity Regulatory Commission ',
                
                    '• Keynote Address by Shri Saurabh Patel, Hon’ble Energy Minister, Government of Gujarat',
                
                'Launch of PM-KUSUM-State Portal (Virtual)',
                'Q&A',
                'Vote of Thanks by Shri Mahesh Singh, IFS,  MD-UGVCL','Session Moderator: Ms. Shweta Teotia, IAS, MD -PGVCL'
                    );stepUpAnalytics('click_Technical_session_fourteen')">
                    </div>
                </div>
                <div id="exhibtion_9">
                    <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Renewable+Energy&dates=20201127T163000/20201127T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                    <div class="five" (click)="showSessionPopup('fifteen','The New Normal for Renewable Energy: World Lessons in Business Models & RE Products  ','Covid 19 Pandemic has been a wakeup call for the renewable energy industry both domestically and internationally.', 'The global supply chains have been impacted, thereby affecting the schedules of the project completions.',' With renewables set to be the major contributor in the energy mix across all countries, this pandemic has taught the sector several lessons, especially that there is a need for looking at innovative business models going forward and becoming self-reliant.',
                    '',
                    'This session, with Indian and global experts will deliberate on the major issues that the industry has faced and the changes that have been adopted / planned going forward to ensure minimum impact of any such crisis going forward.',
                    '',
                    'Opening Remarks by Moderator: Mr Rahul Munjal,  Managing Director, Hero Future Energies Pvt Ltd',
                    '',
                    'Panelists',
                       ' • Mr Anil Kumar Chalamalasetty, Chief Executive & Managing Director, Greenko Group',
                       '',
                        '• Mr Basant Jain, Managing Director & Chief Executive Officer, Mahindra Susten',
                        '',
                        '• Dr Hitesh Doshi, Chairman, Waaree Energies Limited',
                        '',
                        '• Mr Challa Sreenivasulu Setty, Managing Director,  State Bank of India ',
                        '• Mr Jayant Parimal, Chief Executive Officer, Adani Green Energy Limited',
                        '',
                       ' • Mr Parag Sharma, Founder & CEO, O2Power',
                    '',
                    'Q&A',
                    '',
                    'Vote of Thanks');stepUpAnalytics('click_Technical_session_fifteen')">
                    </div>
                </div>
                <div id="exhibtion_10">
                    <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Session+France&dates=20201127T180000/20201127T190000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                    <div class="six" (click)="showSessionPopup('sixteen','Country Session: France ','France - a relevant partner for renewable energy in India” With an installed capacity of 6,600 MW solar and wind in 12 states, INR 4600 Cr of bilateral funding, cofounding the International Solar Alliance and a Hydrogen partnership for the future, France is bullish about India’s energy transition.',
                    
                    ' Hear the insights and thoughts of energy experts in the French country session. ',
                    
                    'Welcome address: H.E. Emmanuel Lenain, Ambassador of France to India', 
                   '',
                   'Keynote:  Shri Jatindra Nath Swain, IAS, Chairman and Managing Director, Solar Energy', 
                   '',
                   'Corporation of India',
                   '',
                   'Keynote:  Mr. Neerav Nanavaty, CEO Engie India and Chairman of Indo-French Chamber of Commerce and Industry (Energy Committee) ',
                   '',
                  ' Panel Moderator: Ms. Priyadarshini Sanjay, Managing Director, Mercom Communications India ',
                   '',
                      ' • Ms. Mathilde Bord-Laurans, Head of Energy Unit Agence Française de Développement ',
                      '',
                       '• Mr José Ignacio SANZ, Vice President Gas, Renewables and Power India and India Country Chair, Total ',
                       '',
                       '• Mr. Thierry Priem, Head of Storage and Flexibility Solutions, French Alternative Energies Commission (CEA) ',
                       '',
                       '• Mr. Bertrand Monnoie, CEO, Air Liquide India',
                   '',
                   'Q&A',
                   '',
                   'Vote of Thanks');stepUpAnalytics('click_Technical_session_sixteen')">
                    </div>
                </div>
                <div id="exhibtion_11">
                    <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Session+Germany&dates=20201127T180000/20201127T190000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                    <div class="seven" (click)="showSessionPopup('seventeen','Country Session: Germany ','By law Germany aims to become officially greenhouse gas neutral by 2050. The Federal Government of Germany has set ambitious decarbonisation targets of cutting emissions by at least 55 percent until 2030 compared to 1990 levels. This is in line with the European emission reduction plans.

                    Germanys emission reduction targets are even more ambitious given the fact that in parallel nuclear energy must be completely phased-out until end of 2022. All coal fired power plants must be shut down by 2038 latest.
                    
                    Emission reduction goals are mainly being achieved by expanding renewable energies for electricity and heating, energy efficiency measures and increasing introduction of electric vehicles. Moving towards a highly-electrified energy system, the offshore wind targets have recently been increased to 20 GW by 2030 and 40 GW by 2040. Today Germany has almost 8 GW of offshore wind capacities installed. 128 GW of Renewables without counting large hydro power plants have been installed so far. Around 2,5 solar panels per German citizen have been installed. While the country is aiming for minimum 65% of the electricity to come from Renewables by 2030, it already has achieved more than 50% of power coming from Renewables during the year 2020. 10 years ago, it was less than 20%. 20 years ago, it was 6% only. Immense learnings where made especially regarding Renewable Energy grid integration. Despite all success, huge challenges lay ahead in the heating sector, where renewables account for 14,5% and in the transport sector with 5,6% renewables only so far. But the disruption in the transport sector is accelerating at a high speed. New electric vehicle sales are doubling the second year in a row already. In October 2020, nearly 1 out of 10 cars being purchased in Germany already was electric. A newly introduced component in Germany’s decarbonization strategy is Green Hydrogen. This year the “National Hydrogen Strategy” was launched with ambitious goals for developing a hydrogen economy. Hydrogen also plays an important part in Germanys green recovery stimulus package as an answer to the effects on the economy due to Covid-19. “[...] We cannot simply adopt a stimulus package that seeks to preserve the status quo. We need a package that is designed for the future.” said Dr. Angela Merkel, Hon’ble Chancellor of Germany. Investment grants of around 45 bn USD will now be channelled into sustainable mobility, energy transition, digitalisation, public health and research and education projects. It is now and of most importance to Germany to share its experiences with other nations to accelerate the worldwide learning curve. Germany is delighted to actively participate in RE-INVEST 2020 and is looking forward to fruitful discussions and new green investment opportunities being developed.','    Further, in a move to make PM-KUSUM financially viable the Reserve Bank of India (RBI) has included all three components of PM-KUSUM under priority sector which will help farmers in getting loan from local banks. Component B and C have been included under the eligible category under Agricultural Infrastructure Fund (AIF) which will facilitate farmers to get loan at concessional rate.','The session will deliberate upon opportunities and challenges for unlocking higher solar farm returns, promotion of Agro-PV and ways to facilitate farmers for availing cheaper loans from Banks. ',
    
                '• Furthering a conducive ecosystem for solarizing agriculture',
                '• Key steps to enhance returns to farmers',
                '• Examining the regulations',
                '• Role of different governmental bodies in supporting farmers',
                'Welcome and Keynote Address: Shri Indu Shekhar Chaturvedi, Secretary, Ministry of New and Renewable Energy, Govt of India',
                '• Mr Thorsten Herdan, Director General, Energy Policy, Ministry for Economic Affairs and Energy, Govt. of Germany',
                'Presentations',
                '• Prof. Dr. Eicke Weber, Chair, European Solar Manufacturing Council (ESMC)',
                '• Dr Winfried Damm, Head of Energy GIZ India',
                '• Dr Philipp Stammler, Dpty. Head, Federal Ministry for Economic Affairs and Energy, Govt. of Germany',
                'Panel Discussion on “Opportunities and Challenges of Decarbonisation”',
                '• Shri Dinesh D Jagdale, Joint Secretary, Ministry of New and Renewable Energy, Govt. of India', 
                '• Shri Abhay Bakre, Director General, Bureau of Energy Efficiency, Ministry of Power, Govt. of India ',
                '• Dr Philipp Stammler, Dpty. Head, Federal Ministry for Economic Affairs and Energy, Govt. of Germany' ,
                '• Prof Dr Eicke Weber, Chair, European Solar Manufacturing Council (ESMC)', 
                '• Dr Winfried Damm, Head of Energy GIZ India',

                '• Dr Vera Rodenhoff*, Head of Division, Ministry for the Environment, Nature Conservation and Nuclear Safety, Govt. of Germany',
                '• Dr Ajay Mathur*, Director General, The Energy and Resources Institute (TERI)',
            
            'Q&A',
            
            'Vote of Thanks');stepUpAnalytics('click_Technical_session_seventeen')">
                    </div>
                </div>
                <div id="exhibtion_12">
                    <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=EU+India&dates=20201127T180000/20201127T190000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                    <div class="eight" (click)="showSessionPopup('eighteen','EU-India Cooperation on Renewable Energy with a focus on Offshore Wind.','Both the EU and India have set ambitious targets for renewable energy and are keen on further strengthening their cooperation in this area under the EU-India Clean Energy and Climate Partnership (www.cecp-eu.in). In addition to cooperation on solar energy and integration of renewable energy in the grid, the EU and India are working together in the area of offshore wind, including through the former extensive FOWIND and FOWPI projects.  The session will address the cooperation between the EU and India in the area of renewable energy, but will in particular address the offshore wind sector. In this session the new EU Strategy on Offshore Renewable Energy will be presented and the future of an Indian offshore wind industry will be discussed, focusing on the required supply chain. It will identify the current gaps of such a supply chain and explain how Indian and European businesses can best tap into this promising renewable energy market new to India. ',
                     
                    'Key topics: ',
                        '• What are India’s current capabilities and gaps to support the offshore wind supply chain?',
                        '• What is the difference between an onshore wind and offshore wind supply chain?',
                        '• Which are the opportunities and challenges for European and Indian companies? & • How will jobs, local economy, and business change over the years once the offshore wind industry develops?',
                    
                    'Introduction and welcome of participants',
                    '• H.E. Ugo Astuto, Ambassador of the European Union to India',
    
                    'Keynote address - Sh. Bhanu Pratap Yadav, Joint Secretary, Ministry of New and Renewable Energy (MNRE)',
                    'Keynote address - The new EU Offshore Renewable Energy Strategy and EU-India cooperation on offshore wind',
                        '• Mr Hans van Steen, Acting Director, Renewables, Research, Innovation and Energy Efficiency, Directorate-General Energy, European Commission  (tbc)',
                    
                   ' Presentation of Supply Chain Study for Offshore Wind in India',
                        '• Mr Erik Mohr, Project Director, Wind Energy and Renewables, COWI ',
                    
                    
                    'Interventions on the presented report (8x3 minutes): ',
                        '• Dr K Balaraman, Director General, National Institute of Wind Energy (NIWE)' ,
                        '• Dr. Jochen Dirksmeyer, Head Development, wpd offshore solutions GmbH',
    '• Mr. Ashwani Kumar, CEO, Suzlon',
    '• Dr. Praveen Saxena, CEO, Skill Council for Green Jobs',
    '• Mr. Vijaymurthy Tanikella, Advisor, Van Oord Offshore Wind b.v. and Director, Van Oord India Pvt. Ltd.',
    '• Mr. Jakob Friis Sorensen, Managing Director, APM Terminals Pipavav (Gujarat Pipavav Port Ltd)',
    '• Mr. Javier Magro, Deputy Business Unit Manager, DEME Offshore',
                    
                    'Moderator: Mr. Nicolas Couderc, Executive Vice-President, EDF Renewables and Chairman, WindEurope',
                        'Closing Remarks / Vote of Thanks • Mr Poul V. Jensen, Managing Director, European Business and Technology Centre',
                        '• Mr Matthieu Craye, International Relations Officer, European Commission');stepUpAnalytics('click_Technical_session_eighteen')">
                    </div>
                </div>
                <div id="exhibtion_13">
                    <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=USA+Agencies&dates=20201127T180000/20201127T190000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                    <div class="nine" (click)="showSessionPopup('ninteen','Session by USA Agencies','The 3rd Global RE-INVEST is organised by the Ministry of New and Renewable Energy (MNRE), Government of India from 26 – 28 November 2020. Themed ‘Innovations for Sustainable Energy Transition’, RE-INVEST 2020 aims to accelerate the global effort on renewable energy development and deployment and connect the global investment community with Indian energy stakeholders.',' The U.S. Government will host a country session focused on the U.S-India cooperation driving renewable energy deployment in India and South Asia. U.S. and India have a long and successful history of renewable energy cooperation with government and private sector. Ongoing initiatives through partnerships between the two countries have produced significant results to drive renewable energy deployment.', 'The cooperation is further strengthened through US-India Strategic Energy Partnership (SEP) and Asia EDGE - Enhancing Development and Growth through Energy. This session will bring key stakeholders to discuss strategies for expanding the collaboration, discuss priorities regarding the Asia EDGE Initiative in India, and how the U.S. and India can promote the renewable energy market across South Asia. ',
    
                '    • Welcome Remarks: Ramona M El Hamzaoui, Mission Director (A), USAID/India', 
                '• Special Remarks Mr. Amitesh Kumar Sinha, Joint Secretary, MNRE ',
            '',
            'Moderated Panel Discussion -Taking forward U.S.-India Renewable Energy Collaboration ',
            'Moderator – Pramod Singh, COP, South Asia Regional Energy Hub (SAREH) ',
            '',
            'Panel Members ',
            
                '• Griff Thompson, Director Office of Renewable Energy, U.S. Dept. of State ',
                '• Karen Klimowski, IPO Coordinator and Deputy Mission Director (A), U.S. Agency For International Development ',
               ' • Dr. Kenneth R. Vincent, Director, Office of Asian Affairs, U.S. Department of Energy ',
                '• Representative, U.S. Department of Commerce ',
               ' • Mehnaz Ansari, Senior Regional Representative, U.S. Trade and Development Agency ',
                '• Mr Ajay Rao, Regional Managing Director for South Asia, U.S. Developmental Finance Corporation', 
                '• Mr. Anand. Kumar, Chairperson, Gujarat Electricity Regulatory Commission (GERC)' ,
                '• Mr. Kapil Mohan, Principal Energy Secretary, Government of Karnataka (TBC) ',
                '• Brenda VanHorn, Principal Commercial Officer, US Department of Commerce, to be added in the USAID session.',
            '',
            'Questions and Answer ',
            '',
            'Conclusion and Vote of Thanks (State Department or USAID)');stepUpAnalytics('click_Technical_session_nineteen')">
                    </div>
                </div>
                <!-- <div id="exhibtion_14">
                    <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=SOLARIZING+AGRICULTURE&dates=20201127T150000/20201127T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                    <div class="ten" (click)="showSessionPopup('twentytwo')">
                    </div>
                </div>
                <div id="exhibtion_15">
                    <div class="eleven" (click)="showSessionPopup('twentythree')">
                    </div>
                </div>
                <div id="exhibtion_16">
                    <div class="twelve" (click)="showSessionPopup('twentyfour')">
                    </div>
                </div> -->
              <!-- <div id="exhibtion_5">
                <div class="one" [routerLink]="['/tech-one']">
                </div>
            </div>
            <div id="exhibtion_6">
                <div class="two" [routerLink]="['/tech-two']">
                </div>
            </div>
            <div id="exhibtion_7">
                <div class="three" [routerLink]="['/tech-three']">
                </div>
            </div>
            <div id="exhibtion_8">
                <div class="four" [routerLink]="['/tech-four']">
                </div>
            </div>
            <div id="exhibtion_9">
                <div class="five" [routerLink]="['/tech-five']">
                </div>
            </div>
            <div id="exhibtion_10">
                <div class="six" [routerLink]="['/tech-six']">
                </div>
            </div>
            <div id="exhibtion_11">
                <div class="seven" [routerLink]="['/tech-seven']">
                </div>
            </div>
            <div id="exhibtion_12">
                <div class="eight" [routerLink]="['/tech-eight']">
                </div>
            </div>
            <div id="exhibtion_13">
                <div class="nine" [routerLink]="['/tech-nine']">
                </div>
            </div>
            <div id="exhibtion_14">
                <div class="ten" [routerLink]="['/tech-ten']">
                </div>
            </div>
            <div id="exhibtion_15">
                <div class="eleven" [routerLink]="['/tech-eleven']">
                </div>
            </div>
            <div id="exhibtion_16">
                <div class="twelve" [routerLink]="['/tech-twelve']">
                </div>
            </div> -->
            
        </div>
    </div>
</section>



<div class="modal fade confirmModaltwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="container-fluid" id="popup">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <div class="profile_section">
                                <div class="chat_section">
                                    <div class="popup_header">
                                        <!-- <h6 class="text-dark"><b>SPEAKERS</b></h6> -->
                                        <h5>Technical Session</h5>
                                        <a class="close" (click)="closePopup()"></a>
                                    </div>
                                    <div class="row mt-4 ml-2 mr-2 mb-2" id="setPopup">
                                        <div id="popupmsg">
                                            <h4 class="text-center">{{this.getHeading}}</h4>
                                            <p  style="height: 35vh;
                                            overflow-y: auto;">{{this.getDesc}}<br>{{this.getPort}}<br>{{this.getPort2}}<br>{{this.getPort3}}<br>{{this.getPort4}}<br>{{this.getPort5}}<br>{{this.getPort6}}<br>{{this.getPort7}}<br>{{this.getPort8}}<br>{{this.getPort9}}<br>{{this.getPort10}}<br>{{this.getPort11}}<br>{{this.getPort12}}<br>{{this.getPort13}}<br>{{this.getPort14}}<br>{{this.getPort15}}<br>{{this.getPort16}}<br>{{this.getPort17}}<br>{{this.getPort18}}<br>{{this.getPort19}}<br>{{this.getPort20}}<br>{{this.getPort21}}<br>{{this.getPort22}}</p>
                                            <!-- <p>Are you Sure You want to continue session?</p> -->
                                            <div>
                                                <button class="btn" id="okbtn" (click)="navigate()">Join Now</button>
                                                <button class="btn btn-danger" (click)="closePopup()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>