<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>VISITOR MANUAL</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <iframe style="width:100%" src="../../../assets/acma/pdf/visitor_manual.pdf"
          height="550" frameborder='0'></iframe>
        </div>
      </div>
    </div>
  