<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>NOTIFICATIONS</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <div class="row ml-2 mr-2 mb-2 text-center bg-white">
                <h2>Exhibition will go live on 26th November.</h2>
          </div>
        </div>
      </div>
    </div>
  