.bg {
    background-image: url(../../../assets/img/Lobby/lobby.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-color: #464646;

    width: 100%;
    height: 100vh;
    // position: relative;
}
// .fb-page, .fb-page span, .fb-page span iframe[style] { 
//     width: 50% !important; 
// }
.loby-bg {
    img{        
    // width: 100vw;
    // height: 100vh;
    width: 90vw;
    height: 100vh;
    margin-left: 70px;
    }
}