section{
    position: relative;
    height: 100%;
    width: 100%;
}
header{
    position: fixed;
    .mobile-menu{
        display: inline-flex;
        list-style-type: none;
    }
}
a{
    cursor: pointer;
}
#usermgmnt{
    position: absolute;
    top: 10px;
    right: 82px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    .fa-user-circle{
        color: #d7a322;
        background: white;
        border-radius: 50%;
        border: 2px solid white;
    }
    a{
        text-transform: capitalize;
    }
    i{
        font-size: 32px;
    }
    #profile{
        position: absolute;
        // background: #d7a322;
        background: #153640;
        border-radius: 5px;
        top: 36px;
        right: 2px;
        list-style-type: none;
        padding: 0;
        width: 120px;
        transition: .5s;
        li{
            user-select: none;
            padding: 7px;
            font-weight: 400;
            span{
                font-size: 12px;
                padding: 4px;
            }
            .fa-circle{
                color: green;
                font-size: 16px;
            }
            .fa-minus-circle,.fa-plus-circle{
                color: #d7a322;
                font-size: 16px;
            }
        }
    }
}
#signout{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    a{
        text-transform: capitalize;
    }
}

:host {

    display: flex;
    overflow: hidden;
    height: 100vh;
    main {
      flex: 1;
      position: relative;
    //   margin-top: 46px;
    }

    ::ng-deep router-outlet ~ * {
      position: absolute;
      width: 100%;
      height: 100%;
    }

  }

  .navbar {
      #navbarSupportedContent{
          li {
              a {
                  text-decoration: none;
                  color: #3b3b3c;
                  font-size: 15px;
              }
          }
      }
      #icon-right {
        display: inline-flex;
        list-style-type: none;
        li {
              list-style: none;
          }
      }
  }
  .footer-nav{
      display: none;
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 0;
      padding: 2px 0 10px 0;
      background: #fff;
      background: linear-gradient(180deg, rgba(221, 221, 221, 0) 5.98%, rgba(255, 255, 255, 0.5) 25.24%, rgba(255, 255, 255, 0.95) 59.38%, #ffffff 90%, #ffffff 90%);

    //   background: rgb(34,34,34);
    //   background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(29,29,29,0.3981967787114846) 100%);
    }

    .footer-nav1{
        padding: 0; margin: 7px 0 0 0;
    }
    .footer-nav1 li{
        padding: 0 0 0px 24px;
        margin: 0;
        display: inline-block;
        list-style: none;
        text-decoration: none;

        a{
            text-decoration: none;
            // color: white;
            color: black;
            font-size: 10px;
            font-weight: 700;
            cursor: pointer;
            img {
                transition: .3s;
                -ms-transform: scale(.85); /* IE 9 */
                -webkit-transform: scale(.85); /* Safari 3-8 */
                transform: scale(.85); 
                transition: .3s;
                -ms-transition: .3s; /* IE 9 */
                -webkit-transition: .3s; /* Safari 3-8 */

            }
            .fa{
                font-size: 24px;
            }
        }
        .linkActive {
            .fa{
                font-size: 24px;
                color: #f15c25;
            }
            div{
                border-bottom: 2px solid #f15c25;
                color: #f15c25;
            }
            padding-bottom: 10px;
        }
    }
    .footer-nav1 li:hover{
        a{
            img{
                transition: .3s;
                -ms-transform: scale(1.1); /* IE 9 */
                -webkit-transform: scale(1.1); /* Safari 3-8 */
                transform: scale(1.1); 
            }
            .fa {
                transition: .3s;
                -ms-transform: scale(1.2); /* IE 9 */
                -webkit-transform: scale(1.2); /* Safari 3-8 */
                transform: scale(1.2); 

            }

        }
    }
    .noLink{
        div{
            border-bottom: none;
            color: none;
        }
    }

    .vid {
        width: 100%;
        border: 10px solid #ffc90e;
        // border-radius: 5px;
        // max-height:40vh;
    }
    #logout{
        color:red;
        cursor: pointer;
    }
    
    // .rightMenu{
    //     position: absolute;
    //     right: 0;
    //     top: 30%;
    //     text-align: center;
    //     padding: 20px 10px;
    //     color: #fff;
    //     background: rgba(0,0,0,.3);
    //     border-top-left-radius: 20px;
    //     border-bottom-left-radius: 20px;
    // }
    // a{

    //     cursor: pointer;
    // }
    // .handimg{
    //     width:48px;
    //     height:48px;
    //     display: block;
    //     background-image:url(../../assets/img/icons8-applause-48.png);
    //     background-repeat:no-repeat;
    // }
    
    @media screen and (max-width: 767px) {
        .footer-nav{
            display: none;
        }
        #mySidenav{
            display: block;
        }
        #sidebar{
            display: none;
         z-index: 100;
        }
        // .sidenav2, .sidenav3{
        //     display: none;
        // }
     }
     
 .sideLinkActive{
     span{        
         border-bottom: 2px solid #f15c25;
         color: #f15c25;
         margin: 0 0 3px 3px;
     }
 }
 #hamburger{
     font-size: 24px;
     cursor: pointer;
     background: #141433;
     color: white;
     height: 36px;
     width: 36px;
     border-radius: 50%;
     margin: 10px;
     text-align: center;
     padding: 3px;
     line-height: 30px;
 }
 .sidenav {
         height: 100%;
         width: 0;
         position: fixed;
         z-index: 1;
         top: 0;
         right: 0;
         background: #fff;
         overflow-x: hidden;
         transition: 0.5s;
         padding-top: 36px;
 }
 
 .sidenav a {
         padding: 10px 0px 10px 0px;
         text-decoration: none;
         font-size: 10px;
         color: #818181;
         display: block;
         transition: 0.3s;
        //  img{
        //      width: 20px;
        //  }
         span {
             margin: 0 0 3px 3px;
         }
 }
 
 .sidenav a:hover {
         color: #f15c25;
 }
 
 .sidenav .closebtn {
         position: absolute;
         top: 0;
         right: 25px;
         font-size: 36px;
         margin-left: 50px;
 }
 #sidebar{
     position: absolute;
     top: 0;
     right: 0;
     display: none;
     z-index: 9999999999;
 }
 .sidenav2 {
    height: 100%;
    width: 70px !important;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    #sidenavList{
        li{
            transition: .3s;    
            
            a{
                img{
                    transform: scale(.82);
                    transition: .3s;    
                }
                div{
                    font-size: 8.5px;
                }
            }
        }
  }
}
  .sidenav3{
    #sidenavList{
        li:hover{
            a{
                img{
                    transform: scale(1.05);
                    transition: .3s;    
                }
            }
        }
    }
  }
  .sidenav2{
    #sidenavList{
        li:hover{            
            transition: .3s;    

            a{
                img{
                    transform: scale(1.05);
                    transition: .3s;   
                }
            }
        }
    }
  }
  
  .sidenav2 a {
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
  }
  
  .sidenav2 a:hover {
    color: #000;
  }
  
//   .main {
//     margin-left: 160px; /* Same as the width of the sidenav */
//     font-size: 28px; /* Increased text to enable scrolling */
//     padding: 0px 10px;
//   }
  
  @media screen and (max-height: 450px) {
    .sidenav2 {padding-top: 15px; z-index: 9999999;}
    .sidenav2 a {font-size: 10px;}
  }

  .sidenav3 {
    height: 100%;
    width: 70px !important;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    #sidenavList{
        li{
            a{
                img{
                    transform: scale(.82);
                    transition: .3s;    
                }
                div{
                    font-size: 8.5px;

                }
            }
        }
    }
    #sidenavList{
        li:hover{
            a{
                img{
                    transform: scale(1.05);
                    transition: .3s;    
                }
            }
        }
    }
  }
  
  .sidenav3 a {
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
  }
  
  .sidenav3 a:hover {
    color: #000;
  }
  
//   .main {
//     margin-left: 160px; /* Same as the width of the sidenav */
//     font-size: 28px; /* Increased text to enable scrolling */
//     padding: 0px 10px;
//   }
  
  @media screen and (max-height: 450px) {
    .sidenav3 {padding-top: 15px; z-index: 9999999;}
    .sidenav3 a {font-size: 10px;}
  }
  @media screen and (max-width: 768px) {
    .sidenav3, .sidenav2 {
        width: 55px !important;
        #sidenavList{
            li{
                transition: .3s;    
                
                a{
                    img{
                        transform: scale(.7);
                        transition: .3s;    
                    }
                    div{
                        font-size: 7px;
                        text-transform: capitalize;
                    }
                }
            }
      }
    }
    #usermgmnt{
        right: 55px;
    }
  }
 #potrait{
     position: absolute;
     width: 100%;
     text-align: center;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     p{
         font-weight: 500;
         font-size: 14px;
         text-transform: capitalize;
     }
     img{
         width: 60%;
     }
 }

 #sidenavList{
     text-align: center;
     list-style-type: none;
     padding: 1px;
     li{
         padding: 3px;
         
     }
 }

 #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    
    
  }
  
   
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  .reception {
    position: absolute;
    top: 40%;
    left: 20%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 8vw;       
.pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}
}
