.bg {
  //background-image: url(../../../../assets/img/Exhibition/arise.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #2d2b21;
  animation: opac .5s;

  // position: relative;
  .fa-arrow-right{
    right: 12% !important;
      position: absolute !important;
      top: 12% !important;
      font-size: 3em !important;
      cursor: pointer !important;
      color:whitesmoke !important; 
      z-index: 9999999;
    outline: -webkit-focus-ring-color auto 0px !important;
  }
}
@keyframes opac {
  from{
      opacity: 0;
  } to {
      opacity: 1;
  }
}
a{
  text-decoration: none;
}
#popup{
  background: #000000c9;
  padding: 5px;
  .chat_section{
    background: #292F35;
    .popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}

.chat_box{
  .chat_message{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    height: 400px;
    width: 96%;
    overflow: auto;
    overflow-x: hidden;
    .chat_messageList{
      padding: 10px;
      .img_avatar{
        float: left;
       // width: 46px;
        img{
          padding-right: 10px;
          // width: 28px;
          height: 22px;
        //  border-radius: 50px;
        }
      }
      span{
        .person{
          display: block;
          color: #292f35;
          font-weight: bold;
          font-size: 14px;
          float: left;
          cursor: pointer;
          margin-right: 15px;
          text-transform: capitalize;
          line-height: 18px;
          .checkProfile{
            text-decoration: none;
            outline: none;
            color: #292f35;
          }
        }
        .time {
          float: right;
          color: dimgrey;
          line-height: 18px;
        }
      }
      .text_message{
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-left: 48px;
        clear: both;
        margin-bottom: 5px;
      }
    }
    .chat_messageList:nth-child(even){
      background: #e8e8e8;
    }
  }
}
.message_input {
  padding: 10px;
  textarea {
    border: none;
    height: 102px;
    box-sizing: border-box;
    outline-width: 0;
    padding: 10px;
    font-size: 14px;
    width: 78% !important;
    border-radius: inherit;
    border-radius: 2px;
    background: #e8e8e8;
    border: 0px;
    padding: 10px 5px 6px 15px;
    line-height: 11px;
    /* margin-left: 15px; */
    resize: none;
    border: 1px solid #e8e8e8;
    outline: none;
  }
  #chatBtn{
    width: 20%;
    font-size: 12px;
    background: #ebebeb;
    padding: 2px;
    box-shadow: none;
    height: 40px;
    border-radius: inherit;
    background: #292f35;
    border: navajowhite;
    margin-top: 0;
    svg{
      color: #fff;

    }
  }
}
.profile-card {
  border-radius: 4px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
  display: block;
  padding: 20px 0px 0px;
  margin-bottom: 20px;
}
.profile-card figure {
  margin: 0px auto;
  background: #292F35;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
}
.profile-card figure i {
  font-size: 32px;
  color: #fff;
  vertical-align: middle;
}
.profile-card table i {
  font-size: 22px;
    margin-right: 17px;
}
.profile-card h3 {
  font-size: 18px;
  text-align: center;
  color: #000;
  margin: 20px auto;
  text-transform: uppercase;
  font-family: var(--head-font);
  font-weight: 700;
}
.download_card{
  background: #000;
width: 100%;
display: block;
text-align: center;
padding: 10px;
text-transform: uppercase;
font-size: 16px;
color:white !important;
cursor: pointer;
}
.video_meeting {
  position: absolute;
    top: 63%;
    left: 26.2%;
    cursor: pointer;
    height: 6vh;
    width: 5vw;
  // background: black;
  .pulsating-circle{
  position: absolute;
  top: 50%;
  left: 50%;
}
}
.live_chat {
  position: absolute;
  top: 65%;
  left: 16%;
  cursor: pointer;
  height: 4vh;
  width: 4vw;      
.pulsating-circle{
  position: absolute;
  top: 50%;
  left: 50%;
}
}
.title {
  position: absolute;
                    user-select: none;
                    top: 12%;
                    left: 45%;
                    width: 18.2vw;
                    height: 7vh;
                    // vertical-align: middle;
                    // line-height: 7vh;
                    overflow: hidden;
                    p{
                        color: #6059e4;
                        font-weight: 600;
                        font-size: 1vw;
                        margin-bottom: 0;
                        position: absolute;
                        top: 15%;
                    }
}
.logo1{
  position: absolute;
  top: 10%;
  left: 31%;
  img{
    width: calc((100vw - 0px)*.1115);
    height: 9vh;
  }
}
.connectUs {
  position: absolute;
    top: 63%;
    left: 32%;
    cursor: pointer;
    height: 6vh;
    width: 3vw;       
.pulsating-circle{
  position: absolute;
  top: 70%;
  left: 50%;
  cursor: pointer;
}
} 
.creatve1 {
  position: absolute;
  top: 35.65%;
  left: 46.4%;
  cursor: pointer;
  height: 14vh;
  width: 10vw; 
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  img{
    width: calc((100vw - 0px)*.11999);
    height: 10.5vh;
    
  }      
}
.creatve2 {
  position: absolute;
  top: 35.65%;
  left: 59%;

  cursor: pointer;
  height: 14vh;
  width: 10vw; 
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  img{
    width: calc((100vw - 25px)*.11999);
    height: 10.5vh;
  }      
}
.creatve3 {
  position: absolute;
  top: 47%;
    left: 46.4%;
  cursor: pointer;
  height: 14vh;
  width: 10vw; 
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  img{
    width: calc((100vw - 0px)*.11999);
    height: 10.5vh;
  }     
}
.creatve4 {
  position: absolute;
  top: 47%;
    left: 59%;
  cursor: pointer;
  height: 14vh;
  width: 10vw; 
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  img{
    width: calc((100vw - 25px)*.11999);
    height: 10.5vh;
  }     
}
.logo2 {
  position: absolute;
  bottom: 25%;
  left: 30%;
  img{
    width: calc((100vw - 0px)*.1);
    height: 10vh;
  }
}
.product_list {
  position: absolute;
  top: 82%;
  left: 37.2%;
  cursor: pointer;
  height: 6vh;
  width: 4vw;       
.pulsating-circle{
  position: absolute;
  top: 70%;
  left: 50%;
  cursor: pointer;
}
}
.broucher {
  position: absolute;
    top: 69%;
    right: 58.1%;
    cursor: pointer;
    height: 12vh;
    width: 4vw;      
.pulsating-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
}
.card_drop {
  position: absolute;
  top: 62%;
  left: 11%;
  cursor: pointer;
  height: 6vh;
  width: 4vw;       
.pulsating-circle{
  position: absolute;
  top: 81%;
  left: 50%;
  cursor: pointer;
}
}
.left_graphic {
  position: absolute;
  top: 35%;
  left: 49%;
  cursor: pointer;
  height: 6vw;
  width: 4vw;       
.pulsating-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
}
.third_graphic {
  position: absolute;
  top: 52%;
  left: 49%;
  cursor: pointer;
  height: 6vw;
  width: 4vw;       
.pulsating-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
}
.left_url {
  position: absolute;
  top: 30%;
  left: 31.5%;
  cursor: pointer;
  height: 6vw;
  width: 4vw;       
.pulsating-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
}
.right_graphic {
  position: absolute;
  top: 35%;
  right: 33%;
  cursor: pointer;
  height: 6vw;
  width: 4vw;       
.pulsating-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
}
.right_url {
  position: absolute;
  top: 12%;
  right: 48%;
  cursor: pointer;
  height: 6vw;
  width: 4vw;       
.pulsating-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
}
.calendar-part {
  flex: 0 0 50%;
  max-width: 50%;
}
.time-part {
  flex: 0 0 50%;
  max-width: 50%;
}
.time-part .time-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}
.time-part .time-list li {
  margin: 5px 10px;
  text-align: center;
  min-width: 150px;
  line-height: 35px;
}
.time-part .time-list li a {
  color: #333;
  padding: 0px 30px;
  font-size: 14px;
  display: block;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  transition: all .3s linear;
}
.time-part .time-list li  a:hover {
  text-decoration: none;
  outline: none;
  background: #000000c9;
  color:white;
}
.btn-disabled,
.btn-disabled[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}
.confirm-btn {
  display: table;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin: 30px auto 15px;
  color: #fff;
  outline: none;
  border: 0;
  transition: all 300ms linear;
}
.active {
  background: rgba(0, 0, 0, 0.7) !important;
border: 1px solid rgba(0, 0, 0, 0.7) !important;
color: #fff !important;
}
#players{
  position: absolute;
  top: 39%;
    left: 26%;
    height: 22vh;
    width: 16vw;
    cursor: pointer;
  // .one, 
  .two,.three,.four{
      // background: black;  
      position: absolute;
      top: 0;
      height: 13vh;
      width: 13.2vw; 
      i{
          position: absolute;
          top: 50%;
          left: 50%;
          color:#ff0000;
          transform: translate(-50%, -50%);
          font-size: 24px;
          cursor: pointer;
      }
  }
  .one{
      left: -10%;
    top: 40%;
    cursor: pointer;
  }
  .two{
    left: 33%;
  top: -20%;

}
.three{
  left: 33%;
top:81%;

}
.four{
  left: 59%;
top: -20%;

}
 
}
#socialicons{
  position: absolute;
    top: 35%;
    right: 100px;
    display: grid;
    img{
      transform: scale(.75);
      transition: .3s;
      padding: 1px;
    }
    img:hover{
      transform: scale(.9);
      transition: .3s;
    }
}
@media only screen and (max-width: 768px) {
  #bg{
    position: relative;
    width: 100%;
    height: 100%;
    #bgImg{
      width: calc(100vw - 100px)!important;
      margin-left: 50px !important;
    }
    #setting{
      width: calc(100vw - 100px)!important;
      margin-left: 50px !important;
      .logo2 {
        img{
          width: calc((100vw - 100px)*.23221)!important;
        }
      }      
      .logo1{
        img{
          width: calc((100vw - 100px)*.1115)!important;
        }
      }
      .creatve1, .creatve2, .creatve3, .creatve4{
        img{       
          width: calc((100vw - 100px)*.11999) !important;
        }
      }
    }
  }
  #socialicons{
    right:70px;
      img{
        width: 33px;
        padding: 3px;
  }
  }
}
#setChat{
  max-height: 200px;  min-height: 200px; overflow:auto;
}
@media only screen and (max-height: 500px) {
  #setChat{
    max-height: 100px;  min-height: 100px; overflow:auto;
  }
}
#modal-video{
  border-radius:5px; 
  padding: 0 3px;   
  position: relative;
  top: 3px;
  #closePopup{
      position: absolute;
      top: -16px;
      right: -16px;
      line-height: 24px;
      font-size: 30px;
      background: #e40e38;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      text-align: center;
      color: white;
      font-weight: 500;
      z-index: 1000;
      cursor: pointer;
  }
}

#image_profile {
  img {
      float: left;
      border-radius: 50%;
  }
  #profile_detail {
      padding: 5px;
      margin-left: 55px;

      #profile_name {
          font-weight: 600;
      }
  }
}
.profileImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: cadetblue;
  font-size: 14px;
  color: #fff;
  text-align: center;
  float: right;
  font-weight: bold;
  padding: 10px;
}
.profileImage1 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #28a745;
  font-size: 14px;
  color: #fff;
  text-align: center;
  float: left;
  font-weight: bold;
  padding: 10px;
}
.bord:nth-child(even) {
  border-left: 5px solid cadetblue;
}

.bord:nth-child(odd) {
  border-left: 5px solid black;
}
#profile_details {
  padding: 0px;
  margin-left: 115px;

  #profile_name {
      font-weight: 600;
  }
}
#profile_detail1 {
  padding: 5px;
  margin-left: 55px;

  #profile_name {
      font-weight: 600;
  }
}
