<div id="successMsg" *ngIf="successMsg">
    Registration done successfully
</div>
<div class="container-fluid">
    <div id="bg">
        <img src="assets/tie/images/login.PNG" alt="">

    </div>
    <div id="loginSection">
       
        <div class="row">
         
      
                <div class="login-wrapper">
                    <h1 class="login-title"><span><a style="text-decoration: none; color: black;" routerLink="/signup">Sign
                        Up</a></span></h1>
                    <!-- <h1 class="login-title"><span><a style="text-decoration: none; color: white;" routerLink="/signup">Sign
                                Up</a></span></h1>
                    <div *ngIf="invalidBoolean" style="color: red;
                    font-size: 14px;
                    text-align: center;
                    font-weight: 800;
                    /* background: #ce2222; */
                    height: 36px;
                    line-height: 15px;
                    border-radius: 3px;
                ">
                        {{invalidMessage}}
                        <h1 style="font-size: small; color: red;" class="login-title">{{invalidphone}}</h1> 
                    </div> -->
                    <form [formGroup]="signupForm" (ngSubmit)="register()" style="position: relative;">
                        <div class="form-group">
                            <label for="name" style="color: black;">Full Name</label>
                            <input type="text" style="background-color: white;" class="form-control" required
                                autocomplete="off" formControlName="name" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="designation" style="color: black;">Designation</label>
                            <input type="text" style="background-color: white;" class="form-control"
                                required autocomplete="off" formControlName="designation" placeholder="Enter your designation">
                        </div>
                        <div class="form-group">
                            <label for="company" style="color: black;">Company Name</label>
                            <input type="text" style="background-color: white;" class="form-control" required
                                autocomplete="off" formControlName="company_name" placeholder="Enter your company">
                        </div>
                        
                        <div class="form-group">
                            <label for="email" style="color: black;">Email ID</label>
                            <input type="email" style="background-color: white;" class="form-control" required
                                autocomplete="off" formControlName="email" placeholder="Enter your email">
                        </div>

                        <div class="form-group">
                            <label for="mobile" style="color: black;">Mobile Number</label>
                            <input type="text" style="background-color: white;" class="form-control" required
                                autocomplete="off" (keypress)="allowNumber($event.target.value)" maxlength="10"
                                formControlName="mobile" placeholder="Enter your mobile">
                        </div>
                        <div class="form-group">
                            <p style="width: 700px; font-weight: bold; color: #000;
                            padding: 10px;
                            background: #d7e1e2ab; "> I would like TiE Delhi-NCR to provide my contact information to <a  style="color: red;" href="https://aws.amazon.com/legal/marketingentities/" target="_blank" rel="noopener noreferrer">Amazon Web Services</a>  (AWS) so AWS can share the latest AWS news and offers with me by email, post or telephone. You may unsubscribe from receiving news and offers from AWS at any time by following the instructions in the communications received.  AWS handles your information as described in the <a style="color: red;" href="https://aws.amazon.com/privacy/" target="_blank" rel="noopener noreferrer">AWS Privacy Notice.</a> </p>
                            <input type="radio" id="yes" name="gender" formControlName="gender" value="yes">
                            <label for="yes">YES</label><br>
                            <input type="radio" id="no" name="gender" formControlName="gender" value="no">
                            <label for="no">NO</label><br>
                        </div>

                        <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Register">
                    </form>
                    <h6 class="text-right" style="font-size: small; color: black;font-weight: 800;">(if registered already)  <a style="text-decoration: none;" routerLink='/login'>LOGIN HERE</a></h6>
                </div>
            
        </div>
      </div>
    </div>
