section{
    position: relative; 
    height: 100%;
    width: 100%;
    #clap{
      position: absolute;
      top: 19%; 
      right: 1%;
      z-index: 1000;
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: calc(100vw - 140px);
            height: 100vh;
            margin-left: 70px;
          } 
          #checking{ 
            position: absolute;
            top: 0;
            width: calc(100vw - 140px);
            height: 100vh;
            left: 70px;
            #player_sec{
            position: absolute;  
            top: 30%;  
            left: 30.28%;
            vg-player{
              width: calc((100vw - 140px)*0.39855);
              height: 40.5vh;
            }
          }

          }         
        
        }
      }
    }
  }

  @mixin white-gradient {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
  
  $animationSpeed: 180s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 30))}
}


// Styling
.logo{
    // width: 15%;
    position: absolute;
    bottom: 0%;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 60px;
    margin: auto;
    z-index: 99999;
    overflow:hidden;
    img{
        z-index: 9999999;
    height: 60px;
    padding: 0 10px 0 10px;
    margin-left: 70px;
    // padding-bottom: 30px;
    }
}
.slider {
    // height: 8vh;
    width: 100%;
    position: absolute;
    bottom: 0%;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 60px;
	margin: auto;
    overflow:hidden;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	// position: relative;
	// width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
        width: calc(250px * 20);
        text-align: center;
	}
	
	.slide {
		height: 100px;
        width: 100%;
        img{
            height: 80px;
            // width: 200px;
        }
	}
}

  
  .rightMenu{
    position: absolute;
    right: 6%;
    top: 13%;
    text-align: center;
    padding: 20px 10px;
    color: #fff;
    background: rgba(0,0,0,.3);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    }
    .colors{
      background-color: blue;
      }