<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg" style="background-color: black;">
                <img src="assets/tie/images/Agenda/Day02.jpg" alt="">
            </div>
            <i class="fa fa-arrow-right" [routerLink]="['/agenda-three']" aria-hidden="true"></i>
            <i class="fa fa-arrow-left" [routerLink]="['/agenda']" aria-hidden="true"></i>
            <div id="a1">
              <div class="one" [routerLink]="['/agenda']">
                
              </div>
          </div>
          <div id="a2">
            <div class="two" [routerLink]="['/agenda-two']">
              
            </div>
        </div>
        <div id="a3">
          <div class="three" [routerLink]="['/agenda-three']">
            
          </div>
      </div>

      <!-- 15 Links -->
      <div id="b1">
        <div class="bone" [routerLink]="['/rennovate']">
          
        </div>
    </div>
    <div id="b2">
      <div class="btwo" [routerLink]="['/plenary-one']">
        
      </div>
  </div>
  <div id="b3">
    <div class="bthree" [routerLink]="['/sessions']">
      
    </div>
</div>
<div id="b4">
    <div class="bfour" [routerLink]="['/sessions']">
      
    </div>
</div>
<div id="b5">
  <div class="bfive" [routerLink]="['/session-two']">
    
  </div>
</div>
<div id="b6">
<div class="bsix" [routerLink]="['/session-two']">
  
</div>
</div>
<div id="b7">
  <div class="bseven" [routerLink]="['/plenary-two']">
    
  </div>
  </div>
  <div id="b8">
    <a href="../../../assets/reinvest/images/programme.pdf" download>
    <div class="beight">
    
    </div>
  </a>
    </div>
        </div>
    </div>
  </section>