<!-- <div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6>ABOUT ACMA</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <iframe style="width:100%" src="../../../assets/acma/pdf/about_acma.pdf"
        height="550" frameborder='0'></iframe>
      </div>
    </div>
  </div>
  -->
  <section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg">
                <img src="assets/reinvest/images/p1.jpeg" alt="">
            </div>
            <div class="creatve1"  data-toggle="modal" data-target=".onecreative">
              <div class="pulsating-circle"></div>
          </div>
          <div class="creatve2"  data-toggle="modal" data-target=".twocreative">
              <div class="pulsating-circle"></div>
          </div>
          <div class="creatve3"  data-toggle="modal" data-target=".threecreative">
              <div class="pulsating-circle"></div>
          </div>
        <div class="live_chat" title="Click to play video" (click)="playShowVideo('https://virtualapi.multitvsolution.com/stateStall/MNRE_Pavilion/Ministry%20of%20New%20and%20Renewable%20Energy%20Film_26%20NOV_%20Final.mp4')">
          <div class="pulsating-circle"></div>
        </div>
          <div class="creatve4"  data-toggle="modal" data-target=".fourcreative">
            <div class="pulsating-circle"></div>
        </div>
        <div class="creatve5"  data-toggle="modal" data-target=".fivecreative">
            <div class="pulsating-circle"></div>
        </div>
        <div class="creatve6"   data-toggle="modal" data-target=".sixcreative">
            <div class="pulsating-circle"></div>
        </div>
            <!-- <map name="session">
                <area shape="rect" coords="400,280,290,230" alt="" [routerLink]="['/networkingLounge']">
                <area shape="rect" coords="590,280,470,230" alt="" [routerLink]="['/sessions']">
                <area shape="rect" coords="770,280,670,230" alt="" [routerLink]="['/partners']">
                <area shape="rect" coords="960,280,850,230" alt="" [routerLink]="['/networkingLounge']">
              </map> -->
        </div>
    </div>
</section>
<div class="modal fade onecreative" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <!-- <h6 style="text-transform: uppercase;">Graphics</h6> -->
                <a class="close" (click)="closecreative('.onecreative')"></a>
              </div>
              <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                height="550" frameborder='0' > -->
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <!-- <img src="assets/reinvest/pavilion_images/Green_Energy_corridors.jpg" alt="" width="100%"> -->
                    <img src="assets/reinvest/pavilion_images/Green Energy corridors _ 1.jpg" alt="" width="100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal-video">
          <div id="closePopup" (click)="closeModalVideo()">&times;</div>
          <video id="video" preload="auto" [src]="videoSource" width="100%" controls>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade twocreative" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <!-- <h6 style="text-transform: uppercase;">Graphics</h6> -->
                <a class="close" (click)="closecreative('.twocreative')"></a>
              </div>
              <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                height="550" frameborder='0' > -->
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <!-- <img src="assets/reinvest/pavilion_images/Bio-Energy-WastetoEnergy.jpg" alt="" width="100%"> -->
                    <img src="assets/reinvest/pavilion_images/Bio-Energy-Waste_to_Energy _1.jpg" alt="" width="100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade threecreative" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <!-- <h6 style="text-transform: uppercase;">Graphics</h6> -->
                <a class="close" (click)="closecreative('.threecreative')"></a>
              </div>
              <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                height="550" frameborder='0' > -->
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <!-- <img src="assets/reinvest/pavilion_images/Grid-Connected_Rooftop_Solar_(RTS)_Scheme.jpg" alt="" width="100%"> -->
                    <img src="assets/reinvest/pavilion_images/Grid-Connected Rooftop Solar (RTS) Scheme _ 1.jpg" alt="" width="100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade fourcreative" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <!-- <h6 style="text-transform: uppercase;">Graphics</h6> -->
                <a class="close" (click)="closecreative('.fourcreative')"></a>
              </div>
              <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                height="550" frameborder='0' > -->
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <!-- <img src="assets/reinvest/pavilion_images/Offgrid Solar-PM-KUSUM Scheme.jpg" alt="" width="100%"> -->
                    <img src="assets/reinvest/pavilion_images/Offgrid_Solar-PM-KUSUM_Scheme _ 1.jpg" alt="" width="100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade fivecreative" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <!-- <h6 style="text-transform: uppercase;">Graphics</h6> -->
                <a class="close" (click)="closecreative('.fivecreative')"></a>
              </div>
              <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                height="550" frameborder='0' > -->
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <!-- <img src="assets/reinvest/pavilion_images/Solar_Park_Scheme.jpg" alt="" width="100%"> -->
                    <img src="assets/reinvest/pavilion_images/SolarParkScheme _ 1.jpg" alt="" width="100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade sixcreative" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <!-- <h6 style="text-transform: uppercase;">Graphics</h6> -->
                <a class="close" (click)="closecreative('.sixcreative')"></a>
              </div>
              <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                height="550" frameborder='0' > -->
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <!-- <img src="assets/reinvest/pavilion_images/Wind_Turbine_Manufacturing.jpg" alt="" width="100%"> -->
                    <img src="assets/reinvest/pavilion_images/Wind_Turbine_Manufacturing _1.jpg" alt="" width="100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
