
#popup{
  background: #000000c9;
  padding: 5px;
  .chat_section{
    background: #292F35;
    .popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}

.chat_box{
  .chat_message{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    height: 400px;
    width: 96%;
    overflow: auto;
    overflow-x: hidden;
    .chat_messageList{
      padding: 10px;
      .img_avatar{
        float: left;
        width: 46px;
        img{
          width: 28px;
        }
      }
      p{
        .person{
          display: block;
          color: #292f35;
          font-weight: bold;
          font-size: 14px;
          float: left;
          cursor: pointer;
          margin-right: 15px;
          text-transform: capitalize;
          line-height: 18px;
          .checkProfile{
            text-decoration: none;
            outline: none;
            color: #292f35;
          }
        }
        .time {
          float: right;
          color: dimgrey;
          line-height: 18px;
        }
      }
      .text_message{
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-left: 48px;
        clear: both;
        margin-bottom: 5px;
      }
    }
    .chat_messageList:nth-child(even){
      background: #e8e8e8;
    }
  }
}
.message_input {
  padding: 10px;
  textarea {
    border: none;
    height: 102px;
    box-sizing: border-box;
    outline-width: 0;
    padding: 10px;
    font-size: 14px;
    width: 78% !important;
    border-radius: inherit;
    border-radius: 2px;
    background: #e8e8e8;
    border: 0px;
    padding: 10px 5px 6px 15px;
    line-height: 11px;
    /* margin-left: 15px; */
    resize: none;
    border: 1px solid #e8e8e8;
    outline: none;
  }
  #chatBtn{
    width: 20%;
    font-size: 12px;
    background: #ebebeb;
    padding: 2px;
    box-shadow: none;
    height: 40px;
    border-radius: inherit;
    background: #292f35;
    border: navajowhite;
    margin-top: 0;
    svg{
      color: #fff;

    }
  }
}

.online_chat{
  min-height: 400px;
  overflow: auto;

}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292f35;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292f43;
}
.creatve1 {
  position: absolute;
  top: 41%;
  left: 12%;

  cursor: pointer;
  // background: black;
  height: 10vh;
  width: 5vw;  
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  }      

}
.creatve2 {
  position: absolute;
  top: 41%;
  left: 18%;
  cursor: pointer;
  // background: black;
  height: 10vh;
  width: 5vw;       
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  } 
}
.creatve3 {
  position: absolute;
  top: 40%;
  left: 34%;
  cursor: pointer;
  height: 10vh;
  width: 5vw; 
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  }      

}
.live_chat {
  position: absolute;
  top: 40%;
  left: 47%;
  cursor: pointer;
  height: 10vh;
  width: 5vw; 
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  }      

}
#modal-video{
  border-radius:5px; 
  padding: 0 3px;   
  position: relative;
  top: 3px;
  #closePopup{
      position: absolute;
      top: -16px;
      right: -16px;
      line-height: 24px;
      font-size: 30px;
      background: #e40e38;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      text-align: center;
      color: white;
      font-weight: 500;
      z-index: 1000;
      cursor: pointer;
  }
}
.creatve4 {
  position: absolute;
  top: 40%;
  left: 60%;
  cursor: pointer;
  height: 10vh;
  width: 5vw; 
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  }      

}
.creatve5 {
  position: absolute;
  top: 40%;
  left: 77%;
  cursor: pointer;
  height: 10vh;
  width: 5vw; 
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  }      

}
.creatve6 {
  position: absolute;
  top: 40%;
  left: 82%;
  cursor: pointer;
  height: 10vh;
  width: 5vw; 
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  }      

}
section{
  position: relative; 
  height: 100%;
  width: 100%;
  #clap{
    position: absolute;
    top: 19%; 
    right: 1%;
    z-index: 1000;
  }
  #content{
    position: relative;
    #content_wrap{
      position: relative;
      #bg{
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        img{
          width: 90vw;
          height: 100vh;
          margin-left: 70px;
        }
        
        #player_sec{
          position: absolute;
          top: 16.9%;
          left: 22.1%;
          margin-left: 70px;
                  vg-player{    
            width: 45.4vw;
            height: 49.5vh;
        
          }
        }
      }
    }
  }
}