<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg">
                <img src="assets/reinvest/images/inaugural.jpg" alt="">
                <div id="player_sec">
                    <vg-player>
                        <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                            <vg-play-pause></vg-play-pause>
                            <vg-time-display></vg-time-display>
                            <vg-mute></vg-mute>
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>
                        <vg-buffering></vg-buffering>
                        <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videoPlayer" autoplay="true"
                            vg-responsive="true" type="video/mp4">

                        </video>
                    </vg-player>
                </div>
            </div>
            <!-- <map name="session">
                <area shape="rect" coords="400,280,290,230" alt="" [routerLink]="['/networkingLounge']">
                <area shape="rect" coords="590,280,470,230" alt="" [routerLink]="['/sessions']">
                <area shape="rect" coords="770,280,670,230" alt="" [routerLink]="['/partners']">
                <area shape="rect" coords="960,280,850,230" alt="" [routerLink]="['/networkingLounge']">
              </map> -->
        </div>
    </div>
</section>
<!-- <div class="rightMenu">


    <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".ballroomQuestionModal"><img src="assets/icons/chat-h.png" alt="">
                <div>Ask Question</div>
            </a>
        </li>
    </ul> -->
    <!-- <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".quizModal"><img src="assets/icons/first-floor-h.png" alt="">
                <div>Quiz</div>
            </a>
        </li>
    </ul> -->
    <!-- <ul class="list-unstyled">
        <li>
            <a (click)="openGroupChat()"><img src="assets/icons/chat-h.png" alt="">
                <div>Group Chat</div>
            </a>
        </li>
    </ul> -->
    <!-- <ul class="list-unstyled">
              <li>
                  <a data-toggle="modal" data-target=".pollModal"><img src="assets/icons/navigation-h.png" alt="">
                      <div>Poll</div>
                  </a>
              </li>
          </ul> -->
    <!-- <ul class="list-unstyled">
              <li> <a data-toggle="modal" data-target=".feebackModal"><img src="assets/icons/contact-h.png" alt="">
                      <div>Feedback</div>
                  </a>
              </li>
          </ul> -->

<!-- </div> -->