<div class="bgct">
    <div class="standing">
        <div id="bg">
            <img src="{{banner}}" alt="">
            <i class="fa fa-arrow-right" [routerLink]="['/exhibitionHall/uk']" aria-hidden="true"></i>
            <i class="fa fa-arrow-left" [routerLink]="['/exhibitionHall/EUavere']" aria-hidden="true"></i>
          </div>
    </div>
  </div>